x-tooltip, x-tooltip > .tooltip-content, x-tooltip > .tooltip-arrow {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

x-tooltip[orientation=top], x-tooltip[_auto-orientation=top]:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right]) {
  transform: translate3d(0, 10px, 1px);
  -ms-transform: translate3d(0, 10px, 1px);
  -moz-transform: translate3d(0, 10px, 1px);
  -webkit-transform: translate3d(0, 10px, 1px);
  -o-transform: translate3d(0, 10px, 1px); }

x-tooltip[orientation=bottom], x-tooltip[_auto-orientation=bottom]:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right]) {
  transform: translate3d(0, -10px, 1px);
  -ms-transform: translate3d(0, -10px, 1px);
  -moz-transform: translate3d(0, -10px, 1px);
  -webkit-transform: translate3d(0, -10px, 1px);
  -o-transform: translate3d(0, -10px, 1px); }

x-tooltip[orientation=left], x-tooltip[_auto-orientation=left]:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right]) {
  transform: translate3d(10px, 0, 1px);
  -ms-transform: translate3d(10px, 0, 1px);
  -moz-transform: translate3d(10px, 0, 1px);
  -webkit-transform: translate3d(10px, 0, 1px);
  -o-transform: translate3d(10px, 0, 1px); }

x-tooltip[orientation=right], x-tooltip[_auto-orientation=right]:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right]) {
  transform: translate3d(-10px, 0, 1px);
  -ms-transform: translate3d(-10px, 0, 1px);
  -moz-transform: translate3d(-10px, 0, 1px);
  -webkit-transform: translate3d(-10px, 0, 1px);
  -o-transform: translate3d(-10px, 0, 1px); }

x-tooltip {
  transition-property: visibility, transform, opacity;
  -webkit-transition-property: visibility, -webkit-transform, opacity;
  -moz-transition-property: visibility, -moz-transform, opacity;
  -ms-transition-property: visibility, -ms-transform, opacity;
  -o-transition-property: visibility, -o-transform, opacity;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0px;
  top: 0px;
  display: block;
  z-index: 2147483647;
  overflow: visible;
  border: 1px solid grey;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 1px 1px 4px grey; }
  x-tooltip[ignore-tooltip-pointer-events] {
    pointer-events: none; }
  x-tooltip:not([allow-overflow]) {
    max-width: 100%;
    max-height: 100%; }
  x-tooltip:not([visible]) {
    visibility: hidden !important;
    opacity: 0 !important; }
    x-tooltip:not([visible]):not([_force-display]) {
      width: 0px !important;
      height: 0px !important;
      overflow: hidden !important;
      border-width: 0px !important; }
  x-tooltip[visible] {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 1px);
    -ms-transform: translate3d(0, 0, 1px);
    -moz-transform: translate3d(0, 0, 1px);
    -webkit-transform: translate3d(0, 0, 1px);
    -o-transform: translate3d(0, 0, 1px); }
  x-tooltip:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right])[visible] {
    transform: translate3d(0, 0, 1px);
    -ms-transform: translate3d(0, 0, 1px);
    -moz-transform: translate3d(0, 0, 1px);
    -webkit-transform: translate3d(0, 0, 1px);
    -o-transform: translate3d(0, 0, 1px); }

x-tooltip > .tooltip-content {
  position: relative;
  display: block;
  padding: .5em;
  overflow: auto;
  max-width: inherit;
  max-height: inherit;
  z-index: 2; }

x-tooltip[allow-overflow] {
  white-space: nowrap; }

x-tooltip > .tooltip-arrow {
  position: absolute;
  display: block;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  width: 1em;
  height: 1em;
  border: inherit;
  background: inherit;
  z-index: 1; }
  x-tooltip > .tooltip-arrow:not([arrow-direction=up]):not([arrow-direction=left]):not([arrow-direction=right]) {
    top: 100%;
    left: 50%;
    transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    border-top-color: transparent !important;
    border-left-color: transparent !important; }
  x-tooltip > .tooltip-arrow[arrow-direction=up] {
    bottom: 100%;
    left: 50%;
    transform: translateY(50%) rotate(45deg);
    -ms-transform: translateY(50%) rotate(45deg);
    -moz-transform: translateY(50%) rotate(45deg);
    -webkit-transform: translateY(50%) rotate(45deg);
    -o-transform: translateY(50%) rotate(45deg);
    border-bottom-color: transparent !important;
    border-right-color: transparent !important; }
  x-tooltip > .tooltip-arrow[arrow-direction=left] {
    right: 100%;
    top: 50%;
    transform: translateX(50%) rotate(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    -moz-transform: translateX(50%) rotate(45deg);
    -webkit-transform: translateX(50%) rotate(45deg);
    -o-transform: translateX(50%) rotate(45deg);
    border-top-color: transparent !important;
    border-right-color: transparent !important; }
  x-tooltip > .tooltip-arrow[arrow-direction=right] {
    left: 100%;
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    border-bottom-color: transparent !important;
    border-left-color: transparent !important; }
