@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("OpenSans-SemiBold.ttf") format("truetype"); }

x-tooltip {
  transition-property: visibility, transform, opacity;
  -webkit-transition-property: visibility, -webkit-transform, opacity;
  -moz-transition-property: visibility, -moz-transform, opacity;
  -o-transition-property: visibility, -o-transform, opacity;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 999;
  overflow: visible;
  visibility: hidden;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid grey;
  background-color: #eee;
  border-radius: 4px;
  font-family: "OpenSans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  box-shadow: 1px 1px 4px grey; }
  x-tooltip[ignore-tooltip-pointer-events] {
    pointer-events: none; }
  x-tooltip[orientation=top] {
    transform: translateY(10px);
    -ms-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px); }
  x-tooltip[orientation=bottom] {
    transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px); }
  x-tooltip[orientation=left] {
    transform: translateX(10px);
    -ms-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px); }
  x-tooltip[orientation=right] {
    transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px); }
  x-tooltip[visible] {
    visibility: visible;
    opacity: 1;
    transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none; }
  x-tooltip:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right])[auto-orientation=top] {
    transform: translateY(10px);
    -ms-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -o-transform: translateY(10px); }
  x-tooltip:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right])[auto-orientation=bottom] {
    transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px); }
  x-tooltip:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right])[auto-orientation=left] {
    transform: translateX(10px);
    -ms-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px); }
  x-tooltip:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right])[auto-orientation=right] {
    transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px); }
  x-tooltip:not([orientation=top]):not([orientation=bottom]):not([orientation=left]):not([orientation=right])[visible] {
    transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none; }

x-tooltip > .tooltip-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: .5em;
  overflow: auto;
  z-index: 2; }

x-tooltip > .tooltip-arrow {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  display: block;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  width: 1em;
  height: 1em;
  border: inherit;
  background: inherit;
  z-index: 1; }
  x-tooltip > .tooltip-arrow:not([arrow-direction=up]):not([arrow-direction=left]):not([arrow-direction=right]) {
    top: 100%;
    left: 50%;
    transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -moz-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    border-top-color: transparent !important;
    border-left-color: transparent !important; }
  x-tooltip > .tooltip-arrow[arrow-direction=up] {
    bottom: 100%;
    left: 50%;
    transform: translateY(50%) rotate(45deg);
    -ms-transform: translateY(50%) rotate(45deg);
    -moz-transform: translateY(50%) rotate(45deg);
    -webkit-transform: translateY(50%) rotate(45deg);
    -o-transform: translateY(50%) rotate(45deg);
    border-bottom-color: transparent !important;
    border-right-color: transparent !important; }
  x-tooltip > .tooltip-arrow[arrow-direction=left] {
    right: 100%;
    top: 50%;
    transform: translateX(50%) rotate(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    -moz-transform: translateX(50%) rotate(45deg);
    -webkit-transform: translateX(50%) rotate(45deg);
    -o-transform: translateX(50%) rotate(45deg);
    border-top-color: transparent !important;
    border-right-color: transparent !important; }
  x-tooltip > .tooltip-arrow[arrow-direction=right] {
    left: 100%;
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    border-bottom-color: transparent !important;
    border-left-color: transparent !important; }
