@import "../../custommixins";

$trackTopColor: #B0B0B0;
$trackBottomColor: #fff;

x-slider{
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    
    & > .input{
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        vertical-align: middle;
        
        width: 100%;
        min-height: 100%;
    }
    
    &[polyfill]{
        cursor: default;
        @include unhighlightable;
        
        & > .input{
            cursor: default;
            @include unhighlightable;
            
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            border: 0px solid transparent;
            color: transparent;
            
            z-index: 1;
            display: inline-block;
            
            background-color: transparent;
            
            /* use CSS to draw a trackbar in the background of the input */
            background-size: 100% 3px;
            background-repeat: no-repeat;
            background-image: -webkit-linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-image: -moz-linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-image: -ms-linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-image: -o-linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-image: linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-position: center;
            
            &::-webkit-slider-thumb{
                visibility: hidden;
            }
            
            &::-moz-range-thumb{
                width: 0px;
                height: 0px;
            }
            
            &::-moz-range-track{
                height: 0;
                width: 0;
            }
        }
        
        
        // slider thumb graphic
        & > .slider-thumb{
            cursor: default;
            @include unhighlightable;
        
            vertical-align: middle;
            position: absolute !important;
            top: 0;
            left: 0;
            height: 100%;
            
            width: .5em;
            @include mobileMediaOverride{
                width: 1.25em;
            }
            
            margin: 0;
            padding: 0;
            
            @include transformed(translate3d(0,0,1px));
            
            border-radius: 4px;
            border: 1px solid grey;
            box-shadow: 0px 1px 4px #ddd;
            
            z-index: 2;
            
            @include simplegradient;
            &:hover{
                @include simplegradient(#E7F5FD);
            }
            
            &[active]{
                @include simplegradient(darken(#E7F5FD, 10%));
            }
        }
    }
    
    &:not([polyfill]){
        & > .slider-thumb{
            visibility: hidden !important;
        }
    }
    
    
}

