.demo.largeprint x-flipbox > *{
    line-height: 2em;
    font-size: 1.25em;
}

x-flipbox > *:first-child{
    background-color: #fff38e;
}

x-flipbox > *:last-child{
    background-color: #9ebcc6;
}
