[submodule "component/layout"]
	path = component/layout
	url = https://github.com/x-tag/layout.git
[submodule "component/toggle"]
	path = component/toggle
	url = https://github.com/x-tag/toggle.git
[submodule "component/slidebox"]
	path = component/slidebox
	url = https://github.com/x-tag/slidebox.git
[submodule "component/flipbox"]
	path = component/flipbox
	url = https://github.com/x-tag/flipbox.git
[submodule "component/appbar"]
	path = component/appbar
	url = https://github.com/x-tag/appbar.git
[submodule "component/modal"]
	path = component/modal
	url = https://github.com/x-tag/modal.git
[submodule "component/core/src/x-tag-core"]
	path = component/core/src/x-tag-core
	url = git@github.com:x-tag/core.git
