[submodule "view"]
	path = view
	url = https://github.com/x-tag/view.git
[submodule "slidebox"]
	path = slidebox
	url = https://github.com/ldoubleuz/slidebox.git
[submodule "flipbox"]
	path = flipbox
	url = https://github.com/ldoubleuz/flipbox.git
[submodule "appbar"]
	path = appbar
	url = https://github.com/x-tag/appbar.git
