[submodule "slidebox"]
	path = slidebox
	url = https://github.com/x-tag/slidebox.git
[submodule "flipbox"]
	path = flipbox
	url = https://github.com/x-tag/flipbox.git
[submodule "appbar"]
	path = appbar
	url = https://github.com/x-tag/appbar.git
[submodule "toggle"]
	path = toggle
	url = https://github.com/x-tag/toggle.git
[submodule "layout"]
	path = layout
	url = https://github.com/x-tag/layout.git
