
language: node_js

node_js:
  - "0.10"

notifications:
  irc:
    channels:
      - "irc.mozilla.org#brick"
    on_success: always
    on_failure: always
    use_notice: true

env:
  - SLIMERJSLAUNCHER=$(which firefox) DISPLAY=:99.0 PATH=$TRAVIS_BUILD_DIR/slimerjs:$TRAVIS_BUILD_DIR/casperjs/bin:$PATH

addons:
  firefox: "18.0"

install:
  - ./travis_install.sh

before_script:
  - "sh -e /etc/init.d/xvfb start"

script:
  - grunt build -d
  - grunt site
  - casperjs test --engine=slimerjs $(pwd)/test
