@import "_custommixins";

$_bgBaseColor: #858585;
$_bgSelectBaseColor: #E1E1E1;
$_bgHighlightColor: #A0A0A0;

$_textCustomFont: "_OpenSansBrick";
$COMPONENT_UI_FONT_FAMILY: $_textCustomFont, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$COMPONENT_UI_LINE_HEIGHT: 19px;
$COMPONENT_UI_FONT_SIZE: 14px;
$COMPONENT_UI_HEADER_FONT_SIZE: 20px;
$COMPONENT_UI_LINE_PADDING: ($COMPONENT_UI_LINE_HEIGHT - $COMPONENT_UI_FONT_SIZE) / 2; // for when you don't want to specify line-height
$COMPONENT_UI_TEXT_COLOR: #D4D4D4;
$COMPONENT_UI_TEXT_COLOR_SELECTED: #F2F2F2;
$COMPONENT_UI_TEXT_COLOR_HOVER: mix($COMPONENT_UI_TEXT_COLOR, $COMPONENT_UI_TEXT_COLOR_SELECTED, 25%);

$imported-once-files: ();

@function import-once($name) {
    @if index($imported-once-files, $name) {
        @return false;
    }
    $imported-once-files: append($imported-once-files, $name);
    @return true;
}


@if import-once("_component-ui-defaults.scss") {
    @include customFont("OpenSans-SemiBold", $fontFolder: "", $fontFamily: $_textCustomFont);
}

// Backgrounds
@mixin component-ui-background{
    background-color: $_bgHighlightColor;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: -o-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
    background-image: -moz-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
    background-image: -webkit-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
    background-image: -ms-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
    background-image: linear-gradient(-180deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
}

@mixin component-ui-background-hover{
    background-color: $_bgHighlightColor;
    background-repeat: no-repeat;
    background-position: 0 1em;
    background-image: -o-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
    background-image: -moz-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
    background-image: -webkit-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
    background-image: -ms-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
    background-image: linear-gradient(-180deg, $_bgHighlightColor 14%, $_bgBaseColor 100%);
}

// Selected Item Background
@mixin component-ui-background-selected{
    background-color: $_bgHighlightColor;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-position: 0 1em;
    background-image: -o-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgSelectBaseColor 100%);
    background-image: -moz-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgSelectBaseColor 100%);
    background-image: -webkit-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgSelectBaseColor 100%);
    background-image: -ms-linear-gradient(-90deg, $_bgHighlightColor 14%, $_bgSelectBaseColor 100%);
    background-image: linear-gradient(-180deg, $_bgHighlightColor 14%, $_bgSelectBaseColor 100%);
}