

/*Backgrounds */
background-image: -o-linear-gradient(-90deg, #A0A0A0 14%, #858585 100%);
background-image: -moz-linear-gradient(-90deg, #A0A0A0 14%, #858585 100%);
background-image: -webkit-linear-gradient(-90deg, #A0A0A0 14%, #858585 100%);
background-image: -ms-linear-gradient(-90deg, #A0A0A0 14%, #858585 100%);
background-image: linear-gradient(-180deg, #A0A0A0 14%, #858585 100%);

/* Selected Item Background */
background-image: -o-linear-gradient(-90deg, #A0A0A0 14%, #E1E1E1 100%);
background-image: -moz-linear-gradient(-90deg, #A0A0A0 14%, #E1E1E1 100%);
background-image: -webkit-linear-gradient(-90deg, #A0A0A0 14%, #E1E1E1 100%);
background-image: -ms-linear-gradient(-90deg, #A0A0A0 14%, #E1E1E1 100%);
background-image: linear-gradient(-180deg, #A0A0A0 14%, #E1E1E1 100%);


/* Text */

font-family: OpenSans-Semibold;
font-size: 14px;
color: #D4D4D4;
line-height: 19px;

/* Selected text */

font-family: OpenSans-Semibold;
font-size: 14px;
color: #F2F2F2;
line-height: 19px;