@import "../../custommixins";

$oldSlide: "[leaving]";
$newSlide: "[selected]";

$beforeAnimation: "[before-animation]";
$afterAnimation: ":not(#{$beforeAnimation})";

$oldStartingSelector: "#{$oldSlide}#{$beforeAnimation}";
$newStartingSelector: "#{$newSlide}#{$beforeAnimation}";
$oldEndingSelector: "#{$oldSlide}#{$afterAnimation}";
$newEndingSelector: "#{$newSlide}#{$afterAnimation}";

$oldSlideZIndex: 1;
$newSlideZIndex: 2;

@mixin defaultSlideOrder(){
    &#{$newSlide}{
        z-index: $newSlideZIndex;
    }
    
    &#{$oldSlide}{
        z-index: $oldSlideZIndex;
    }
}

@mixin swappedSlideOrder(){
    &#{$newSlide}{
        z-index: $oldSlideZIndex;
    }
    
    &#{$oldSlide}{
        z-index: $newSlideZIndex;
    }
}

@mixin defaultTransform(){
    @include transformed(translate3d(0%,0%,1px));
}


x-shuffledeck{
    display: block; //can be overridden with anything non-inline
    position: relative;
    overflow: hidden;
    // allow overflow for certain transforms at the moment of animation 
    // to enhance 3d effect
    &[active-transition-type=flipX], &[active-transition-type=flipY]{
        overflow: visible;
    }
    
    width: 200px; // override these defaults
    height: 150px; // override these defaults
    @include perspective(2000px);
    
    & > x-shuffleslide{
        @include boxSizing(border-box);
        display: block;
        
        overflow: hidden;
        position: absolute;
        
        @include animated(transform, 0.5s, ease, 0s);
        @include backfaceVisibility(hidden);
        @include defaultTransform;
        
        height: 100%;
        width: 100%;
        
        left: 0px;
        right: 0px;
        
        z-index: 0;
        
        @include defaultSlideOrder;
        
        &:not(#{$newSlide}):not(#{$oldSlide}){
            visibility: hidden; // note: do not use display: none here!
            opacity: 0;
        }
        
        /** slide animation types go here **/
        
        // default animation: jump from one spot to another
        &[slide-anim-type]{ 
            &#{$oldStartingSelector}, &#{$newStartingSelector},
            &#{$oldEndingSelector}, &#{$newEndingSelector}{
                @include defaultTransform;
            }
        }
        
        //////////////////////
        // rotation animations
        //////////////////////
        &[slide-anim-type=flipX]{
            &:not([reverse]){
                // initial positions for animation
                &#{$newStartingSelector}{
                    @include transformed(rotateX(-180deg));
                }
                
                // target positions for animation
                &#{$oldEndingSelector}{
                    @include transformed(rotateX(180deg));
                }
            }
            &[reverse]{
                // initial positions for animation
                &#{$newStartingSelector}{
                    @include transformed(rotateX(180deg));
                }
                
                // target positions for animation
                &#{$oldEndingSelector}{
                    @include transformed(rotateX(-180deg));
                }
            }
        }
        
        &[slide-anim-type=flipY]{
            &:not([reverse]){
                // initial positions for animation
                &#{$newStartingSelector}{
                    @include transformed(rotateY(180deg));
                }
                
                // target positions for animation
                &#{$oldEndingSelector}{
                    @include transformed(rotateY(-180deg));
                }
            }
            &[reverse]{
                // initial positions for animation
                &#{$newStartingSelector}{
                    @include transformed(rotateY(-180deg));
                }
                
                // target positions for animation
                &#{$oldEndingSelector}{
                    @include transformed(rotateY(180deg));
                }
            }
        }
        
        //////////////////////
        // scroll animations
        //////////////////////
        
        // new slide scrolls from right to left 
        &[slide-anim-type=scrollLeft]{ 
            &:not([reverse]){
                @extend %scrollLeftAnim;
            }
            
            // animation for reverse direction
            &[reverse]{
                @extend %scrollRightAnim;
            }
        }
        
        // new slide scrolls from left to right 
        &[slide-anim-type=scrollRight]{
            &:not([reverse]){
                @extend %scrollRightAnim;
            }
            
            // animation for reverse direction
            &[reverse]{
                @extend %scrollLeftAnim;
            }
        }
        
        // new slide scrolls from bottom to top 
        &[slide-anim-type=scrollUp]{
            &:not([reverse]){
                @extend %scrollUpAnim;
            }
            
            // animation for reverse direction
            &[reverse]{
                @extend %scrollDownAnim;
            }
        }
        
        // new slide scrolls from top to bottom 
        &[slide-anim-type=scrollDown]{
            &:not([reverse]){
                @extend %scrollDownAnim;
            }
            
            // animation for reverse direction
            &[reverse]{
                @extend %scrollUpAnim;
            }
        }
        
        //////////////////////
        // covering animations
        //////////////////////
        
        &[slide-anim-type=coverLeft]{
            &:not([reverse]){
                @extend %coverLeftAnim;
            }
            
            &[reverse]{
                @extend %uncoverRightAnim;
            }
        }
        
        &[slide-anim-type=coverRight]{
            &:not([reverse]){
                @extend %coverRightAnim;
            }
            
            &[reverse]{
                @extend %uncoverLeftAnim;
            }
        }
        
        &[slide-anim-type=coverUp]{
            &:not([reverse]){
                @extend %coverUpAnim;
            }
            
            &[reverse]{
                @extend %uncoverDownAnim;
            }
        }
        
        &[slide-anim-type=coverDown]{
            &:not([reverse]){
                @extend %coverDownAnim;
            }
            
            &[reverse]{
                @extend %uncoverUpAnim;
            }
        }
        
        //////////////////////
        // uncovering animations
        //////////////////////
        
        &[slide-anim-type=uncoverLeft]{
            &:not([reverse]){
                @extend %uncoverLeftAnim;
            }
            
            &[reverse]{
                @extend %coverRightAnim;
            }
        }
        
        &[slide-anim-type=uncoverRight]{
            &:not([reverse]){
                @extend %uncoverRightAnim;
            }
            
            &[reverse]{
                @extend %coverLeftAnim;
            }
        }
        
        &[slide-anim-type=uncoverUp]{
            &:not([reverse]){
                @extend %uncoverUpAnim;
            }
            
            &[reverse]{
                @extend %coverDownAnim;
            }
        }
        
        &[slide-anim-type=uncoverDown]{
            &:not([reverse]){
                @extend %uncoverDownAnim;
            }
            
            &[reverse]{
                @extend %coverUpAnim;
            }
        }
    }
}

////////////////////////////////////////////////////
// animation silent-classes for @extend'ing
/////////////////////////////////////////////////////

%scrollLeftAnim{
    // initial positions for animation
    &#{$newStartingSelector}{
        @include transformed(translateX(100%));
    }
    
    // target positions for animation
    &#{$oldEndingSelector}{
        @include transformed(translateX(-100%));
    }
}

%scrollRightAnim{
    // initial positions for animation
    &#{$newStartingSelector}{
        @include transformed(translateX(-100%));
    }

    // target positions for animation
    &#{$oldEndingSelector}{
        @include transformed(translateX(100%));
    }
}

%scrollUpAnim{
    // initial positions for animation
    &#{$newStartingSelector}{
        @include transformed(translateY(100%));
    }
    
    // target positions for animation
    &#{$oldEndingSelector}{
        @include transformed(translateY(-100%));
    }
}

%scrollDownAnim{
    // initial positions for animation
    &#{$newStartingSelector}{
        @include transformed(translateY(-100%));
    }

    // target positions for animation
    &#{$oldEndingSelector}{
        @include transformed(translateY(100%));
    }
}

%coverLeftAnim{
    &#{$newStartingSelector}{
        @include transformed(translateX(100%));
    }
}

%coverRightAnim{
    &#{$newStartingSelector}{
        @include transformed(translateX(-100%));
    }
}

%coverUpAnim{
    &#{$newStartingSelector}{
        @include transformed(translateY(100%));
    }
}

%coverDownAnim{
    &#{$newStartingSelector}{
        @include transformed(translateY(-100%));
    }
}

%uncoverLeftAnim{
    @include swappedSlideOrder;  
    &#{$oldEndingSelector}{
        @include transformed(translateX(-100%));
    }
}

%uncoverRightAnim{
    @include swappedSlideOrder;  
    &#{$oldEndingSelector}{
        @include transformed(translateX(100%));
    }
}

%uncoverUpAnim{
    @include swappedSlideOrder;  
    &#{$oldEndingSelector}{
        @include transformed(translateY(-100%));
    }
}

%uncoverDownAnim{
    @include swappedSlideOrder;  
    &#{$oldEndingSelector}{
        @include transformed(translateY(100%));
    }
}
