x-shuffledeck {
  display: block;
  position: relative;
  overflow: hidden; }
  x-shuffledeck > x-shuffleslide {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: absolute;
    transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    transform: translate3d(0%, 0%, 1px);
    -ms-transform: translate3d(0%, 0%, 1px);
    -moz-transform: translate3d(0%, 0%, 1px);
    -webkit-transform: translate3d(0%, 0%, 1px);
    -o-transform: translate3d(0%, 0%, 1px);
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    z-index: 0;
    /** slide animation types go here **/ }
    x-shuffledeck > x-shuffleslide[selected] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[leaving] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide:not([selected]):not([leaving]) {
      visibility: hidden;
      opacity: 0; }
    x-shuffledeck > x-shuffleslide[slide-anim-type][leaving][before-animation] {
      transform: translate3d(0%, 0%, 1px);
      -ms-transform: translate3d(0%, 0%, 1px);
      -moz-transform: translate3d(0%, 0%, 1px);
      -webkit-transform: translate3d(0%, 0%, 1px);
      -o-transform: translate3d(0%, 0%, 1px); }
    x-shuffledeck > x-shuffleslide[slide-anim-type][selected][before-animation] {
      transform: translate3d(0%, 0%, 1px);
      -ms-transform: translate3d(0%, 0%, 1px);
      -moz-transform: translate3d(0%, 0%, 1px);
      -webkit-transform: translate3d(0%, 0%, 1px);
      -o-transform: translate3d(0%, 0%, 1px); }
    x-shuffledeck > x-shuffleslide[slide-anim-type][leaving]:not([before-animation]) {
      transform: translate3d(0%, 0%, 1px);
      -ms-transform: translate3d(0%, 0%, 1px);
      -moz-transform: translate3d(0%, 0%, 1px);
      -webkit-transform: translate3d(0%, 0%, 1px);
      -o-transform: translate3d(0%, 0%, 1px); }
    x-shuffledeck > x-shuffleslide[slide-anim-type][selected]:not([before-animation]) {
      transform: translate3d(0%, 0%, 1px);
      -ms-transform: translate3d(0%, 0%, 1px);
      -moz-transform: translate3d(0%, 0%, 1px);
      -webkit-transform: translate3d(0%, 0%, 1px);
      -o-transform: translate3d(0%, 0%, 1px); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollLeft]:not([reverse])[selected][before-animation] {
      transform: translateX(100%);
      -ms-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -o-transform: translateX(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollLeft]:not([reverse])[leaving]:not([before-animation]) {
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -o-transform: translateX(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollLeft][reverse][selected][before-animation] {
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -o-transform: translateX(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollLeft][reverse][leaving]:not([before-animation]) {
      transform: translateX(100%);
      -ms-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -o-transform: translateX(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollRight]:not([reverse])[selected][before-animation] {
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -o-transform: translateX(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollRight]:not([reverse])[leaving]:not([before-animation]) {
      transform: translateX(100%);
      -ms-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -o-transform: translateX(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollRight][reverse][selected][before-animation] {
      transform: translateX(100%);
      -ms-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -o-transform: translateX(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollRight][reverse][leaving]:not([before-animation]) {
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -o-transform: translateX(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollUp]:not([reverse])[selected][before-animation] {
      transform: translateY(100%);
      -ms-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollUp]:not([reverse])[leaving]:not([before-animation]) {
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -o-transform: translateY(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollUp][reverse][selected][before-animation] {
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -o-transform: translateY(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollUp][reverse][leaving]:not([before-animation]) {
      transform: translateY(100%);
      -ms-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollDown]:not([reverse])[selected][before-animation] {
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -o-transform: translateY(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollDown]:not([reverse])[leaving]:not([before-animation]) {
      transform: translateY(100%);
      -ms-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollDown][reverse][selected][before-animation] {
      transform: translateY(100%);
      -ms-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=scrollDown][reverse][leaving]:not([before-animation]) {
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -o-transform: translateY(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=flipX][selected][before-animation] {
      transform: rotateX(180deg);
      -ms-transform: rotateX(180deg);
      -moz-transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -o-transform: rotateX(180deg); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=flipX][leaving]:not([before-animation]) {
      transform: rotateX(-180deg);
      -ms-transform: rotateX(-180deg);
      -moz-transform: rotateX(-180deg);
      -webkit-transform: rotateX(-180deg);
      -o-transform: rotateX(-180deg); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=flipY][selected][before-animation] {
      transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -o-transform: rotateY(180deg); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=flipY][leaving]:not([before-animation]) {
      transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -webkit-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverLeft]:not([reverse])[selected][before-animation] {
      transform: translateX(100%);
      -ms-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -o-transform: translateX(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverLeft][reverse][selected] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverLeft][reverse][leaving] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverLeft][reverse][leaving]:not([before-animation]) {
      transform: translateX(100%);
      -ms-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -o-transform: translateX(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverRight]:not([reverse])[selected][before-animation] {
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -o-transform: translateX(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverRight][reverse][selected] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverRight][reverse][leaving] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverRight][reverse][leaving]:not([before-animation]) {
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -o-transform: translateX(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverUp]:not([reverse])[selected][before-animation] {
      transform: translateY(100%);
      -ms-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverUp][reverse][selected] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverUp][reverse][leaving] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverUp][reverse][leaving]:not([before-animation]) {
      transform: translateY(100%);
      -ms-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverDown]:not([reverse])[selected][before-animation] {
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -o-transform: translateY(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverDown][reverse][selected] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverDown][reverse][leaving] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=coverDown][reverse][leaving]:not([before-animation]) {
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -o-transform: translateY(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverLeft]:not([reverse])[selected] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverLeft]:not([reverse])[leaving] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverLeft]:not([reverse])[leaving]:not([before-animation]) {
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -o-transform: translateX(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverLeft][reverse][selected][before-animation] {
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -o-transform: translateX(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverRight]:not([reverse])[selected] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverRight]:not([reverse])[leaving] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverRight]:not([reverse])[leaving]:not([before-animation]) {
      transform: translateX(100%);
      -ms-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -o-transform: translateX(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverRight][reverse][selected][before-animation] {
      transform: translateX(100%);
      -ms-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -o-transform: translateX(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverUp]:not([reverse])[selected] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverUp]:not([reverse])[leaving] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverUp]:not([reverse])[leaving]:not([before-animation]) {
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -o-transform: translateY(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverUp][reverse][selected][before-animation] {
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      -o-transform: translateY(-100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverDown]:not([reverse])[selected] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverDown]:not([reverse])[leaving] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverDown]:not([reverse])[leaving]:not([before-animation]) {
      transform: translateY(100%);
      -ms-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%); }
    x-shuffledeck > x-shuffleslide[slide-anim-type=uncoverDown][reverse][selected][before-animation] {
      transform: translateY(100%);
      -ms-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -o-transform: translateY(100%); }
