@import "custommixins";

x-shuffledeck{
    display: block; //can be overridden with anything non-inline
    position: relative;
    overflow: hidden;
    
    & > x-shuffleslide{
        @include boxSizing(border-box);
        display: block;
        
        overflow: hidden;
        position: absolute;
        
        @include animated(transform, 0.5s, ease, 0s);
        @include backfaceVisibility(hidden);
        
        height: 100%;
        width: 100%;
        
        left: 0px;
        right: 0px;
        
        z-index: 0;
        
        &[selected]{
            z-index: 2;
        }
        
        &[leaving]{
            z-index: 1;
        }
        
        &:not([selected]):not([leaving]){
            visibility: hidden; // note: do not use display: none here!
        }
    }
    
}
