x-shuffledeck {
  display: block;
  position: relative;
  overflow: hidden; }
  x-shuffledeck > x-shuffleslide {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: absolute;
    transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    z-index: 0; }
    x-shuffledeck > x-shuffleslide[selected] {
      z-index: 2; }
    x-shuffledeck > x-shuffleslide[leaving] {
      z-index: 1; }
    x-shuffledeck > x-shuffleslide:not([selected]):not([leaving]) {
      visibility: hidden; }
