@import '../../../build/mixins'
@import '../../../build/params'

x-tabbar{

    display: block;
    flexbox();
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    & > x-tabbar-tab{
        flex(1);

        box-sizing(border-box);
        display: inline-block;
        height: 100%;

        vertical-align: middle;

        & > *:only-child{
            vertical-align: top;
            height: 100%;
            width: 100%;
            margin: 0 !important;
        }
    }
}
