@import '../../../build/mixins'
@import '../../../build/params'

x-tabbar{
    component-ui-background();

    font-family: $COMPONENT_UI_FONT_FAMILY;
    color: $COMPONENT_UI_TEXT_COLOR;

    // hack to remove inline spacing
    letter-spacing: -0.31em;

    & > x-tabbar-tab{

        letter-spacing: normal;
        overflow: hidden;
        component-ui-background();

        border-right: 1px solid darken($COMPONENT_UI_TEXT_COLOR, 15%);
        border-left: 1px solid darken($COMPONENT_UI_TEXT_COLOR, 15%);

        &:hover{
            component-ui-background-hover();
            color: $COMPONENT_UI_TEXT_COLOR_HOVER;
        }

        &:active{
            component-ui-background-selected();
            color: $COMPONENT_UI_TEXT_COLOR_SELECTED;
        }

        &:first-child{
            border-left-width: 2px;
        }

        &:last-child{
            border-right-width: 2px;
        }

        // special overrides with x-iconbutton
        & > x-iconbutton:only-child{
            border: 0;
        }
    }
}
