x-deck{
    background: #000;
}

x-deck > x-card{
    color: #fff;
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    text-shadow: 1px 1px 4px grey;
}

x-card:nth-child(odd){
    background-image: url("../../site/img/cream_pixels_overlay.png");
    background-repeat: repeat;
}

x-card:nth-child(even){
    background-image: url("../../site/img/retina_wood_overlay.png");
    background-repeat: repeat;
}

x-card > *:only-child{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

x-card img{
    border-radius: 4px;
    margin: 1px;
}

.simple-deck x-card{
    font-size: 6.5em;
    padding-top: 50%;
    text-align: center;
}

.simple-deck x-card[transition-override]:after{
    content: 'transition-override = ' attr(transition-override);
    font-size: .15em;
    display: block;
}

#custom-styles x-card[leaving]{
    text-shadow: none;
    background-color: grey!important;
    color: #ccc;
    opacity: 0.6;
}

#custom-styles x-card[selected]:after{
    content: "selected";
    display: block;
    font-size: .2em;
}