<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Brick: x-calendar demos</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600">
    <link rel="stylesheet" type="text/css" href="../../../dist/brick.css"/>
    <link rel="stylesheet" type="text/css" href="../../../site/css/prettify.css">
    <link rel="stylesheet" type="text/css" href="../../../site/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="demo.css"/>
</head>
<body>
<article>
    <header><h1>x-calendar</h1></header>
    <p>Provides a simple calendar UI widget</p>
    <section class="demo-wrap">
        <header><h2>Basic usage</h2></header>
        <div class="two-up">
            <figure class="demo">
                <x-calendar></x-calendar>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <h3>Markup</h3>
            <pre class="prettyprint html">&lt;x-calendar&gt;&lt;/x-calendar&gt;</pre>
        </div>
    </section>
</article>

<script type="text/javascript" src="../../../dist/brick.js"></script>
<script type="text/javascript" src="../../../site/js/prettify.js"></script>
<script type="text/javascript" src="demo.js"></script>
<script>
document.addEventListener('DOMComponentsLoaded', function(){
});
</script>
</body>
</html>