{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="component/flipbox/demo/demo.css"/>
  <link rel="stylesheet" type="text/css" href="site/css/prettify.css">
{% endblock %}

{% block content %}
  <div id="page">
    <section class="two-up">
      <h2>What is Brick?</h2>
      <p>
        Brick is a bundle of reusable UI components - created using <b>W3C Custom Elements</b> APIs & X-Tag - that enable <b>rapid development</b> of immersive HTML5 apps.
      </p>
    </section>

    <section class="two-up">
      <h2>What are Web Components?</h2>
      <p>
        Web Components is a group of emerging <b>W3C standards</b> that allow developers to define custom HTML elements for use in markup via HTML tags, or dynamically in JavaScript.
      </p>
    </section>

    <section class="demo-wrap clean">
        <h1>Brick in Action</h1>
        <div class="two-up">
            <figure class="demo largeprint">
                <x-flipbox>
                    <div>I'm the front face.</div>
                    <div>And I'm the back face.</div>
                </x-flipbox>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <button class="prettybutton flip">Toggle flip</button>
            <h3>Markup</h3>
            <pre class="prettyprint html">&lt;x-flipbox&gt;<br/>    &lt;div&gt;I'm the front face.&lt;/div&gt;<br/>    &lt;div&gt;And I'm the back face.&lt;/div&gt;<br/>&lt;/x-flipbox&gt;</pre>
            <h3>JavaScript</h3>
            <pre class="prettyprint javascript">// assume that toggleButton and flipBox are already<br/>// defined as their respective DOM elements<br/>toggleButton.addEventListener(&quot;click&quot;, function(){<br/>    flipBox.toggle(); <br/>});</pre>
        </div>
    </section>

    <section>
      <div class="two-up">
        <h1>Start Stacking</h1>
        <a class="download" href="https://github.com/mozilla/brick/releases/download/1.0beta/brick-1.0beta.zip">
          <h3>Download Brick</h3>
          <small>version {{ version }} &mdash; {{ size }}</small>
        </a>
      </div>
      <div class="two-up">
        <h1>Feedback</h1>
        <p>Brick is currently in Beta. You may run into issues using the components, but it likely isn't your fault! Please let us know!</p>
        <a href="https://github.com/mozilla/brick/issues/new">File an Issue &raquo;</a>
      </div>
    </section>

  </div>
{% endblock %}
{% block script %}
  <script src="site/js/prettify.js"></script>
  <script src="component/flipbox/demo/demo.js"></script>
  <script>
    var demos = document.querySelectorAll('.demo[data-src]');
    for (var i=0; i<demos.length; i++) {
      var fig = demos[i];
      var iframe = document.createElement('iframe');
      iframe.src = fig.getAttribute('data-src');
      fig.appendChild(iframe);
      iframe.onload = function(e) {
        e.target.style.opacity = 1;
      }
      var a = document.createElement('a');
      a.href = iframe.src;
      fig.appendChild(a);
    }
  </script>
{% endblock %}
