@import '../../../build/mixins'
@import '../../../build/params'

$trackTopColor = #B0B0B0;
$trackBottomColor = #fff;

x-slider{

    &[polyfill]{

        & > .input{
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            border: 0px solid transparent;
            color: transparent;

            background-color: transparent;
            /* use CSS to draw a trackbar in the background of the input */
            background-size: 100% 3px;
            background-repeat: no-repeat;
            background-image: -webkit-linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-image: -moz-linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-image: -ms-linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-image: -o-linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-image: linear-gradient(top, $trackTopColor 1px, $trackBottomColor 2px, $trackTopColor);
            background-position: center;
        }

        // slider thumb graphic
        & > .slider-thumb{

            border-radius: 4px;
            border: 1px solid grey;
            box-shadow: 0px 1px 4px #ddd;

            simplegradient();
            &:hover{
                simplegradient(#E7F5FD);
            }

            &[active]{
                simplegradient(darken(#E7F5FD, 10%));
            }
        }
    }
}