@import "../../custommixins";
@import "../../component-ui-defaults";

$polyfillInputBorderWidth: 1px;

x-datepicker {
    position: relative;
    display: inline-block;
    height: 1.4em; // default
    overflow: visible;
    border: 1px solid grey;

    font-family: $COMPONENT_UI_FONT_FAMILY;

    & > .x-datepicker-input {
        @include boxSizing(border-box);
        margin: 0;
        border: 0px solid transparent;

        vertical-align: top;

        font: inherit;
    }

    & > .x-datepicker-polyfill-input{
        @include boxSizing(border-box);
        position: relative;
        margin: 0;
        padding: .25em;
        border: 0px solid transparent;
        
        vertical-align: top;

        font: inherit;
    }

    & > .x-datepicker-polyfill-ui{
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -$polyfillInputBorderWidth; // offset to merge with polyfill input's border
        box-shadow: 1px 1px 4px grey;
        z-index: 1;
    }


    &[polyfill]{
        & > .x-datepicker-input {
            display: none!important;
        }

        & > .x-datepicker-polyfill-input{
            width: 100%;
            height: 100%;
        }

        & > .x-datepicker-polyfill-ui{
            @include animated((opacity, visibility), 0.2s);
            opacity: 0;
            visibility: hidden;
        }

        &:focus, &[focused]{
            box-shadow: 1px 1px 4px orange;

            & > .x-datepicker-polyfill-ui{
                opacity: 1;
                visibility: visible;
            }
        }

        &[invalid]{
            & > .x-datepicker-polyfill-input{
                background-color: tomato;
            }
        }
    }

    &:not([polyfill]){
        & > .x-datepicker-input {
            width: 100%;
            height: 100%;
        }

        & > .x-datepicker-polyfill-input{
            display: none!important;
        }

        & > .x-datepicker-polyfill-ui{
            display: none!important;
        }
    }
}
