@import "../../custommixins";

$polyfillInputBorderWidth: 1px;

x-datepicker {
    position: relative;
    display: inline-block;
    overflow: visible;
    @include boxSizing(border-box);

    & > .x-datepicker-input {
        margin: 0;
    }

    & > .x-datepicker-polyfill-input{
        position: relative;
        margin: 0;
        border: $polyfillInputBorderWidth solid grey;
        padding: .25em;
        font-family: Courier, monospace;
        @include boxSizing(border-box);
    }

    & > .x-datepicker-polyfillUI{
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: -$polyfillInputBorderWidth; // offset to merge with polyfill input's border
        box-shadow: 1px 1px 4px grey;
    }


    &[polyfill]{
        & > .x-datepicker-input {
            display: none;
        }

        & > .x-datepicker-polyfill-input{

        }

        & > .x-datepicker-polyfillUI{
            @include animated((opacity, visibility), 0.2s);
            opacity: 0;
            visibility: hidden;
        }

        &:focus, &[focused]{
            box-shadow: 1px 1px 4px orange;

            & > .x-datepicker-polyfillUI{
                opacity: 1;
                visibility: visible;
            }
        }

        &[invalid]{
            & > .x-datepicker-polyfill-input{
                background-color: tomato;
            }
        }
    }

    &:not([polyfill]){
        & > .x-datepicker-input {

        }

        & > .x-datepicker-polyfill-input{
            display: none;
        }

        & > .x-datepicker-polyfillUI{
            display: none;
        }
    }
}
