@import "../../custommixins";
@import "../../component-ui-defaults";

$iconSpacing: .25em;

x-iconbutton{
    @include component-ui-background;
    @include component-ui-text-color;
    @include component-ui-text-font;
    @include boxSizing(border-box);
    white-space: nowrap;
    display: inline-block;
    border: 1px solid grey;
    margin: 0;
    padding: .25em;
    cursor: pointer;
    text-align: center;

    &:hover{
      @include component-ui-background-hover;
      @include component-ui-text-color-hover;
    }

    &[active]{
      @include component-ui-background-selected;
      @include component-ui-text-color-selected;
    }

    /* content is wrapped so that it is always centered */
    & > .x-iconbutton-content-wrap{
      display: inline-block !important;
      vertical-align: middle !important;
    }

    /* spacer div used to ensure centering */
    & > .x-iconbutton-ghost{
      display: inline-block !important;
      vertical-align: middle !important;
      height: 100% !important;
      width: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    & .x-iconbutton-icon, & .x-iconbutton-label{
       margin: 0;
       padding: 0;
       vertical-align: middle;
       display: inline-block !important;
    }

    & .x-iconbutton-label{
      @include component-ui-text-font-size;
    }

    &[icon-anchor=top], &[icon-anchor=bottom]{
      & .x-iconbutton-icon, & .x-iconbutton-label{
          margin: 0 auto;
          display: block !important;
      }
    }

    &[icon-anchor=left], &:not([icon-anchor]){
        & .x-iconbutton-icon{
          margin-right: $iconSpacing;
        }
    }

    &[icon-anchor=right]{
        & .x-iconbutton-icon{
          margin-left: $iconSpacing;
        }
    }
}





