<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Brick: x-tooltip demos</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600">
    <link rel="stylesheet" type="text/css" href="../../../dist/brick.css"/>
    <link rel="stylesheet" type="text/css" href="../../../site/css/prettify.css">
    <link rel="stylesheet" type="text/css" href="../../../site/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="demo.css"/>
</head>
<body>
<article>
    <header><h1>x-tooltip</h1></header>
    <section id="basic-demo" class="demo-wrap">
        <header><h2>Basic usage</h2></header>
        <div class="two-up">
            <figure class="demo">
                <div class="target-button">
                    Hover this div to see a tooltip!
                </div>
                <x-tooltip>You can include any markup here! <a href="#">(Wow!)</a></x-tooltip>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <h3>Markup</h3>
            <pre class="prettyprint html">&lt;div class=&quot;target-button&quot;&gt;<br/>    Hover this div to see a tooltip!<br/>&lt;/div&gt;<br/>&lt;x-tooltip&gt;You can include any markup here! &lt;a href=&quot;#&quot;&gt;(Wow!)&lt;/a&gt;&lt;/x-tooltip&gt;</pre>
        </div>
    </section>
    <!-- orientation demo -->
    <section id="orientation-edit-demo" class="demo-wrap">
        <header><h2><code>orientation</code>: Specifying different positions</h2></header>
        <div class="two-up">
            <figure class="demo">
                <div class="target-button">
                    Hover this div to see a tooltip!
                </div>
                <x-tooltip orientation="top"><code>orientation="top"</code></x-tooltip>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <button id="orientation-edit-button" class="prettybutton">Toggle orientation</button>
            <h3>Markup</h3>
            <pre class="prettyprint html"></pre>
        </div>
    </section>
    <!-- target-selector demo -->
    <section id="target-edit-demo" class="demo-wrap">
        <header><h2><code>target-selector</code>: Specifying different targets</h2></header>
        <p><code>target-selector</code> defines which elements a tooltip attaches to. Valid options:
        </p>
        <ul>
            <li><code>_previousSibling</code> (default): This indicates that the tooltip is attached to the element directly preceding it in the HTML markup.
            </li>
            <li><code>_nextSibling</code>: This indicates that the tooltip is attached to the element directly following it in the HTML markup.
            </li>
            <li>CSS selectors relative to the <code>document</code> can also be used instead to specify a wider range of elements.
            </li>
        </ul>
        <div class="two-up">
            <figure class="demo">
                <div class="sibling-demo target-button">
                    <img src="http://placecage.com/100/30"/>
                    I would be selected by _previousSibling!
                </div>
                <x-tooltip target-selector="_previousSibling"><code>target-selector="_previousSibling"</code></x-tooltip>
                <div class="sibling-demo target-button">
                    <img src="http://placecage.com/c/100/30"/>
                    I would be selected by _nextSibling!
                </div>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <button id="target-edit-button" class="prettybutton">Toggle target-selector</button>
            <h3>Markup</h3>
            <pre class="prettyprint html"></pre>
        </div>
    </section>
    <!-- trigger-style demo -->
    <section id="trigger-style-edit-demo" class="demo-wrap">
        <header><h2><code>trigger-style</code>: Specifying how to trigger a tooltip</h2></header>
        <p>This specifies what kind of interaction with a target element will
           trigger the element. You can either specify <code>hover</code> or 
           any native event type.
        </p>
        <p>You can also specify <code class="prettyprint">trigger-style="custom"</code> to turn off built-in handlers and use the tooltip's <code>.show</code>, <code>.hide</code>, and <code>.toggle</code> methods to build your own triggers.</p>
        <div class="two-up">
            <figure class="demo">
                <div class="target-button">
                    <span>Hover this button!</span>
                </div>
                <x-tooltip trigger-style="hover">Hover somewhere else to hide!</x-tooltip>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <button id="trigger-style-edit-button" class="prettybutton">Toggle trigger-style</button>
            <h3>Markup</h3>
            <pre class="prettyprint html"></pre>
            <div class="js-wrap" hidden>
                <h3>JavaScript</h3>
                <pre class="prettyprint javascript"></pre>
            </div>
        </div>
    </section>

</article>

<script type="text/javascript" src="../../../dist/brick.js"></script>
<script type="text/javascript" src="../../../site/js/prettify.js"></script>
<script type="text/javascript" src="demo.js"></script>
<script>
document.addEventListener('DOMComponentsLoaded', function(){
    xtag.addEvent(document, "tooltipshown:delegate(x-tooltip)", function(e){
        console.log("\ntooltip shown!", this);
    });

    xtag.addEvent(document, "tooltiphidden:delegate(x-tooltip)", function(e){
        console.log("\ntooltip hidden!", this);
    });
});
</script>
</body>
</html>