




<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>Brick x-tooltip demos</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400">
    <link rel="stylesheet" href="../../../site/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../dist/brick.css"/>
    <link rel="stylesheet" href="../../../site/css/main.css">
    
    <link rel="stylesheet" type="text/css" href="../../../site/css/prettify.css">
    <link rel="stylesheet" type="text/css" href="demo.css"/>

  </head>
  <body>
    <header class="site-header">
      
<nav class="navbar navbar-default navbar-fixed-top grayshade" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="../../../index.html">
        <img class="logo" src="../../../site/img/logo.png">
        Brick<small> 1.0.4beta</small>
      </a>
    </div>
    <ul class="navbar-nav nav">
      <li><a href="../../../docs.html">
        <span class="succinct">Docs</span>
        <span class="verbose">Documentation &amp; Demos</span>
      </a></li>
      <li><a href="../../../download.html">
        <span>Download</span>
      </a></li>
      <li><a href="http://github.com/mozilla/brick/">
        <span>Github</span>
      </a></li>
      <li><a href="http://github.com/mozilla/brick/issues">
        <span>Issues</span>
      </a></li>
    </ul>
  </div>
</nav>

      
      
      </div>
    </header>
    <article class="container">
      
    <header>
        <h1>x-tooltip</h1> 
    </header>
    <a href="../../../docs.html">&laquo; Back to docs</a>
    

    <section id="basic-demo" class="demo-wrap">
        <header><h2>Basic usage</h2></header>
        <p>In its most basic form, place the <code class="prettyprint">&lt;x-tooltip&gt;</code> in the markup immediately after the element that should trigger it. (You can specify the target element with an attribute, but the default is the previous sibling.)</p>
        <p>By default, the <code class="prettyprint">&lt;x-tooltip&gt;</code> will trigger on a <code>click</code> event, and will be auto-oriented.</p>
        <p>Note that the tooltip is not removed from its markup location, and will thus retain the same nesting and DOM ancestors that it started in.</p>
        <div class="two-up">
            <figure class="demo">
                <div class="target-button">
                    Click this div to see a tooltip!
                </div>
                <x-tooltip>You can include any markup here! <a href="#">(Wow!)</a></x-tooltip>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <h3>Markup</h3>
            <pre class="prettyprint html">&lt;div class=&quot;target-button&quot;&gt;<br/>    Click this div to see a tooltip!<br/>&lt;/div&gt;<br/>&lt;x-tooltip&gt;You can include any markup here! &lt;a href=&quot;#&quot;&gt;(Wow!)&lt;/a&gt;&lt;/x-tooltip&gt;</pre>
        </div>
        <a href="#" class="top">Top</a>
    </section>
    <!-- orientation demo -->
    <section class="demo-wrap">
        <header><h2><code>orientation</code>: Specifying different positions</h2></header>
        <p>Specifies where the <code class="prettyprint">&lt;x-tooltip&gt;</code> appears in relation to the target triggering element.</p>
        <p>Valid options: <code class="prettyprint">"left","right","top","bottom","auto"</code></p>
        <p>By default, the <code>orientation</code> is <code class"prettyprint">"auto"</code>, meaning that the <code class="prettyprint">&lt;x-tooltip&gt;</code> will attempt to place itself in the best position that doesn't overlap the triggering element.</p>
        <div class="two-up">
            <figure class="demo">
                <div class="target-button">
                    Click this div to see a tooltip!
                </div>
                <x-tooltip orientation="top" allow-overflow><code>orientation="top"</code></x-tooltip>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <div class="controls">
                <button class="prettybutton"
                        data-toggle-prop="orientation"
                        data-toggle-target="x-tooltip"
                        data-toggle-options='["auto", "top", "left", "bottom", "right"]'>
                    Toggle orientation
                </button>
            </div>
            <h3>Markup</h3>
            <pre class="prettyprint html"></pre>
        </div>
        <a href="#" class="top">Top</a>
    </section>
    <!-- target-selector demo -->
    <section class="demo-wrap">
        <header><h2><code>target-selector</code>: Specifying different targets</h2></header>
        <p><code>target-selector</code> defines which elements a tooltip attaches to. Valid options:
        </p>
        <ul>
            <li><code>_previousSibling</code> (default): This indicates that the tooltip is attached to the element directly preceding it in the HTML markup.
            </li>
            <li><code>_nextSibling</code>: This indicates that the tooltip is attached to the element directly following it in the HTML markup.
            </li>
            <li>CSS selectors relative to the <code>document</code> can also be used instead to specify a wider range of elements.
            </li>
        </ul>
        <div class="two-up">
            <figure class="demo">
                <div class="sibling-demo target-button">
                    <img src="http://placecage.com/100/30"/>
                    I would be selected by _previousSibling!
                </div>
                <x-tooltip target-selector="_previousSibling"><code>target-selector="_previousSibling"</code></x-tooltip>
                <div class="sibling-demo target-button">
                    <img src="http://placecage.com/c/100/30"/>
                    I would be selected by _nextSibling!
                </div>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <div class="controls">
                <button class="prettybutton"
                        data-toggle-prop="targetSelector"
                        data-toggle-target="x-tooltip"
                        data-toggle-options='["_previousSibling", "_nextSibling", ".sibling-demo img"]'>
                    Toggle target-selector
                </button>
            </div>
            <h3>Markup</h3>
            <pre class="prettyprint html"></pre>
        </div>
        <a href="#" class="top">Top</a>
    </section>
    <!-- trigger-style demo -->
    <section class="demo-wrap">
        <header><h2><code>trigger-style</code>: Specifying how to trigger a tooltip</h2></header>
        <p>This specifies what kind of interaction with a target element will
           trigger the element. You can either specify <code>hover</code> or 
           any native event type.
        </p>
        <p>You can also specify <code class="prettyprint">trigger-style="custom"</code> to turn off built-in handlers and use the tooltip's <code>.show</code>, <code>.hide</code>, and <code>.toggle</code> methods to build your own triggers.</p>
        <div class="two-up">
            <figure class="demo">
                <div class="target-button">
                    <span>Click this button!</span>
                </div>
                <x-tooltip trigger-style="click" id="trigger-style-demo-tip">Click somewhere else to hide!</x-tooltip>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <div class="controls">
                <button class="prettybutton" 
                        data-toggle-prop="triggerStyle"
                        data-toggle-target="x-tooltip"
                        data-toggle-options='["click", "hover", "touchstart", "custom"]'>
                    Toggle trigger-style
                </button>
            </div>
            <h3>Markup</h3>
            <pre class="prettyprint html"></pre>
            <h3 class="custom-source" hidden>Custom trigger JavaScript</h3>
            <pre class="prettyprint javascript custom-source" hidden>var toggleButton = document.getElementById(&quot;custom-toggle-button&quot;);<br/>toggleButton.addEventListener(&quot;click&quot;, function(){<br/>   var tooltip = document.getElementById(&quot;trigger-style-demo-tip&quot;);<br/>   tooltip.toggle(); <br/>});</pre>
        </div>
        <a href="#" class="top">Top</a>
    </section>


      <footer class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <a class="moz" href="https://mozilla.org/"><img alt="mozilla" src="../../../site/img/mozillaHTML5.png" title="built by Mozilla"></a>
        </div>
      </footer>
    </article>
    <script src="../../../dist/brick.js"></script>
     
    <script type="text/javascript" src="../../../site/js/prettify.js"></script>
    <script type="text/javascript" src="../../../site/js/demo-page-helpers.js"></script>
    <script type="text/javascript" src="demo.js"></script>

  </body>
</html>