x-slide {
  font-size: 3em;
  line-height: 3em;
  color: white;
  text-align: center; }

x-slide:nth-child(7n+1) {
  background-color: #bf4040; }

x-slide:nth-child(7n+2) {
  background-color: #bf9240; }

x-slide:nth-child(7n+3) {
  background-color: #bfbf40; }

x-slide:nth-child(7n+4) {
  background-color: #206020; }

x-slide:nth-child(7n+5) {
  background-color: #4040bf; }

x-slide:nth-child(7n+6) {
  background-color: #462162; }

x-slide:nth-child(7n) {
  background-color: #602060; }
