@font-face {
  font-family: "OpenSans-Semibold";
  font-weight: normal;
  font-style: normal;
  src: url("OpenSans-Semibold.ttf") format("truetype"); }

x-tabbar {
  background-image: -o-linear-gradient(-90deg, #a0a0a0 14%, #858585 100%);
  background-image: -moz-linear-gradient(-90deg, #a0a0a0 14%, #858585 100%);
  background-image: -webkit-linear-gradient(-90deg, #a0a0a0 14%, #858585 100%);
  background-image: -ms-linear-gradient(-90deg, #a0a0a0 14%, #858585 100%);
  background-image: linear-gradient(-180deg, #a0a0a0 14%, #858585 100%);
  font-family: "OpenSans-Semibold", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 19px;
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center; }
  x-tabbar > x-tabbar-tab {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    padding: 0;
    vertical-align: middle; }
    x-tabbar > x-tabbar-tab:first-child {
      border-left-width: 0px; }
    x-tabbar > x-tabbar-tab > *:only-child {
      height: 100%;
      width: 100%; }
