@import "../../custommixins";
@import "../../component-ui-defaults";

x-tabbar{
    @include component-ui-background;
    font-family: $COMPONENT_UI_FONT_FAMILY;
    color: $COMPONENT_UI_TEXT_COLOR;
    line-height: $COMPONENT_UI_LINE_HEIGHT;

    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    
    & > x-tabbar-tab{
        @include boxSizing(border-box);
        display: inline-block;
        height: 100%;
        padding: 0;

        vertical-align: middle;

        &:first-child{
            border-left-width: 0px;
        }

        & > *:only-child{
            height: 100%;
            width: 100%;
        }
    }
}
