
.component-demo img{
    width: 100%;
    height: 100%;
    background-color: #eee;
}

.component-demo span{
    position: absolute;
    color: white;
    text-shadow: 1px 1px 10px black;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 1.2em;

    font-size: 3em;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

x-tabbar x-iconbutton .x-iconbutton-icon{
    max-width: 30px;
    max-height: 1.5em;
}