body {
  color: #555;
  font-family: Helvetica, "Helvetica Neue", "Open Sans", Arial, sans-serif;
  margin: 0 auto;
  max-width: 1272px;
  padding-top: 70px;
}

@media (min-width: 1273px) {
  body {
    border-left: #e7e7e7 1px solid;
  }
}
@media (min-width: 1274px) {
  body {
    border-right: #e7e7e7 1px solid;
  }
}

.jumbotron {
    background: url(../img/brick-bg.jpg) #ebebeb no-repeat 50% 0 / 1272px 258px;
    border-bottom: 1px solid #d8d8d8;
    margin-top: -21px;
    max-height: 460px;
    padding-top: 16px;
}
.jumbotron h1, .jumbotron h2 {
  color: #fff;
  font-family: "Museo Sans", "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 67px;
  line-height: 1em;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .42);
}
.jumbotron h1 {
  font-weight: bold;
}
.jumbotron h2 {
  font-size: 23px;
  line-height: 1.1em;
  margin: 0;
}

.moz img {
  width: 128px;
  float: right;
}

.logo {
  width: 48px;
  margin: -8px 4px -8px 0;
}

#sidebar {
  font-size: 12px;
}

section.demo-wrap .two-up{
  margin-top: 1.5em;
}

section.demo-wrap:not(.clean){
  margin-top: 2em;
  border-top: 1px solid grey;
}

@media (min-width: 768px) {
  #sidebar.sticky {
    position: fixed;
    top: 90px;
    width: 261px;
  }
  .navbar-nav .succinct {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #sidebar.sticky {
    width: 213px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #sidebar, #sidebar.sticky {
    position: fixed;
    max-height: calc(100% - 50px);
    overflow: auto;
    width: 25%;
    top: 50px;
    left: 0;
  }
}

@media (max-width: 767px) {
  .navbar-nav .verbose {
    display: none;
  }
  .navbar-nav {
    margin: 5px 10px;
    position: absolute;
    right: 0px;
  }
  .nav > li > a {
    padding: 10px;
  }
  .logo {
    width: 32px;
  }
  #sidebar.sticky {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 480px) {
  .navbar {
    font-size: 70%;
  }
  .navbar-brand small {
    display: none;
  }
}

.docs section {
  padding-top: 70px;
  margin-top: -70px;
  border-bottom: 1px solid gray;
}

.navbar {
  font-family: "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
}
.navbar-brand {
  font-size: 180%;
  margin: -2px 0 -3px;
}
.navbar-brand small {
  font-size: 50%;
}
.navbar-nav > li {
  float: left;
}
.navbar-header {
  float: left;
}
.navbar-nav {
  float: left;
}

.row:after {
  content: '';
  display: block;
  clear: left;
  margin-bottom: 2em;
}

.download, .download:hover, .download:active, .download:focus {
  background: #629ecb;
  border: 1px solid #4376a2;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .50);
  color: #c0e8f9;
  display: inline-block;
  float: left;
  font-size: 12px;
  height: 58px;
  line-height: 1em;
  margin: 28px 0 44px;
  padding: 12px 0 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .42);
  width: 180px;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .download, .download:hover, .download:active, .download:focus {
    margin-bottom: 36px;
  }
}
@media (min-width: 992px) and (max-width: 1027px) {
  .download, .download:hover, .download:active, .download:focus {
    margin-bottom: 56px;
  }
}
.download h3, .download:hover h3, .download:active h3, .download:focus h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-indent: -.1rem;
}

.jumbotron .fork {
  color: #e5a190;
  float: left;
  font-size: 14px;
  line-height: 1em;
  margin: 50px 0 0 10px;
}
.jumbotron .fork a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

footer {
  margin-top: 2em;
}

/* clearfix */
.c:after{
  content: "";
  display: block;
  clear: both;
}

.container {
  clear: both;
}

/* centers demo items in the viewport for demo site;
 * exclude appbar because it should be at the top of the demo;
 * exclude layout because setting absolute position on flexbox causes
 * weirdness in FF18 where the flex item render doesn't override the
 * height 0 fix in layout.css */
.demo-wrap .demo > *:only-child:not(x-appbar):not(x-layout){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* to address rendering issue when button is absolutely positioned */
.demo-wrap .demo > x-iconbutton:only-child:not(x-appbar):not(x-layout){
    position:relative;
}

.demo-wrap .demo > form{
    box-shadow: 1px 1px 4px grey;
    background-color: rgba(255,255,255,0.5);
    background-image: none;
    padding: 0.5em;
}

.top {
  display: inline-block;
  margin: 5px 0 0;
}

@media (max-width: 767px) {
  .jumbotron {
    margin-bottom: 0;
    padding: 30px 30px 0;
  }

  .jumbotron h1 {
    margin-top: 0;
  }

  .demo-wrap .phone figure {
    position: absolute;
    right: -70px;
    top: -10px;
  }

  .toggle-and-code {
    display: none;
  }

  .demo-wrap .phone figure, .index .demo-wrap .markup-wrap .controls {
    display: none;
  }
}

@media (max-width: 320px) {
  .demo-wrap .markup-wrap .controls {
    margin-left: -15px;
  }
}

@media (max-width: 394px) {
  .jumbotron h2 {
    font-size: 19px;
    margin-bottom: 0;
  }

  .jumbotron .fork {
    margin: -25px 0px 20px 30px;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .demo-wrap .markup-wrap .controls {
    margin-top: 10px;
  }
}

.markup-wrap section {
  margin: 0 0 5px;
  width: 100%;
}

@media (max-width: 1027px) {
  .markup-wrap h4, .markup-wrap .demos, .markup-wrap section h3 {
    display: none;
  }

  .markup-wrap .js {
    clear: both;
  }
}

@media (min-width: 1028px) and (max-width: 1200px) {
  .markup-wrap .js {
    width: 370px;
  }
}

@media (min-width: 1028px) {
  .markup-wrap section {
    float: left;
    margin: 15px 0 0;
  }
  .markup-wrap .markup {
    clear: both;
  }
}

.intro {
  margin-left: 15px;
  padding: 0 35px;
  max-width: 500px;
}

@media (min-width: 992px) {
  .intro {
    margin-left: 0;
    text-align: justify;
  }
}

@media (min-width: 341px) {
  .intro h2 {
    white-space: nowrap;
  }
}

.intro h2 {
  color: #a72f0e;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}

.intro p {
  color: #555;
  font-size: 15px;
  line-height: 1.1em;
}

.demo {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 240px;
  height: 360px;
  margin: 2em auto;
  border: 10px solid #1e1e1e;
  border-width: 40px 15px 60px;
  border-radius: 20px;
  position: relative;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .42);
}

/* fake phone button */
.demo:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 103%;
  left: 43.75%;
  left: calc(50% - 15px);
  background: #3f3f3f;
  border-radius: 20px;
}

.demo[data-src] {
  background: none;
}

.demo-left {
  margin: 1em 0;
}

.demo iframe {
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #222;
  height: 480px;
  opacity: 0;
  -webkit-transform: scale(.75);
  transform: scale(.75);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: .5s opacity ease-out;
  transition: .5s opacity ease-out;
  width: 320px;
}

.demo x-flipbox {
  background: #000;
}

.demo x-flipbox > *:first-child {
    background-color: #5693c8;
    color: #fff;
    text-align: center;
}
.demo x-flipbox > *:before {
    background: #4376a2;
    border-radius: 3px;
    content: '';
    display: block;
    height: 1.5em;
    margin: 160px auto -1.75em;
    width: 75%;
}

.demo x-flipbox > *:last-child {
    background-color: #4376a2;
    color: #fff;
    text-align: center;
}
.demo x-flipbox > *:last-child:before {
    background: #5693c8;
}


.docs dl {
  padding-left: 1em;
}

pre.prettyprint{
  text-align: left;
  overflow: auto;
  padding: .5em;
  font-size: .9em;
}

.markup-wrap .controls {
  clear: both;
  margin: 0 15px 0 0;
}

.index .markup-wrap .controls {
  float: left;
}

.markup-wrap h4 {
  color: #494949;
  float: left;
  font-size: 14px;
  margin: 15px 0 0 0;
}

.markup-wrap .demos {
  float: left;
  margin: -1px 0 0;
  padding: 0 0 0 8px;
  text-transform: lowercase;
}
.markup-wrap .demos li {
  display: inline-block;
  font-size: 13px;
  line-height: 1em;
  list-style: none;
  margin: 0;
}
.markup-wrap .demos li:after {
  color: #676767;
  content: "·";
  display: inline-block;
  font-size: 13px;
  padding: 0 0 0 4px;
}
.markup-wrap .demos li:last-child:after {
  content: "";
}
.markup-wrap .demos a {
  color: #d3431c;
  cursor: pointer;
}

.markup-wrap section h3 {
  color: #555;
  font-size: 13px;
  margin: 0 0 5px 10px;
}

.markup-wrap .markup {
  float: left;
  max-width: 245px;
  width: 100%;
}
.markup-wrap .js {
  max-width: 400px;
}

.markup-wrap pre.prettyprint,
.markup-wrap .code-box{
    text-align: left;
    margin: 0;
    width: 95%;
    max-height: 20em;

    overflow: auto;
    font-size: 11px;
    box-shadow: inset 1px 1px 4px grey;
    padding: .5em;
}

.markup-wrap .code-box code{
    display: block;
    text-align: left;
    white-space: nowrap;
}

.panel-footer span {
  line-height: 30px;
  white-space: nowrap;
  display: inline-block;
}

progress {
  display: none;
  float: right;
}

#zip {
  display: none;
}

#byob {
  margin-top: 2em;
}
#byob label {
  display: block;
  background: #f8f8f8;
  cursor: pointer;
  padding: .5em 1em;
}
#buildBundle {
  margin-right: 1em;
}
#components input[type=checkbox] {
  float: right;
}
#byob .panel-heading label {
  margin-top: -7px;
  float: right;
  background: none;
}

/*
a.top {
  clear: both;
  float: right;
}
*/
@media screen and (max-width: 400px) {
  .panel-footer .btn {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .demo {
    -webkit-transform: scale(.6);
    transform: scale(.6);
    margin: -70px auto;
  }
  .demo iframe {
    pointer-events: none;
  }
}
/*
@media screen and (max-width: 960px) {
  header {
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  article {
    max-width: 800px;
  }
}
