@import 'mixins'
@import 'params'

$toggleSize = 22px;

x-toggle {

  &[focus] {
    outline: 0;
  }

  .x-toggle-content {
    min-height: $toggleSize;
    line-height: $toggleSize + 2;
  }

  .x-toggle-check {
    width: $toggleSize;
    height: $toggleSize;
    border-radius: 3px;
    margin: 0px 3px 0px 0px;
    color: #000;
    vertical-align: middle;
    border: 1px solid $darkBG;
    position: relative;
    background: #fff;
  }

  &[no-box] .x-toggle-check {
    display: none !important;
  }

  &[type="radio"] input:checked + .x-toggle-check {
    background: #fff;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      width: $toggleSize - 8px;
      height: $toggleSize - 8px;
      background: $highlight;
    }
  }

  &[type="checkbox"] input:checked + .x-toggle-check {
    border-width: 0;
    background: $highlight;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: $tapTargetSize * 0.1;
      right: 0;
      margin: auto;
      width: 10px;
      height: 5px;
      border: solid #fff;
      border-width: 0 0 2px 2px;
      transformed(rotate(-45deg));
    }
  }
}