@import 'mixins';
@import 'params';

$textColor = #444;
$todayBorderColor = orange;

x-calendar {
    border: 1px solid #cecece;
    border-radius: 3px;

    font-size: 1em;
    font-family: $fontFamilyPrimary;

    background-color: #fff;
    color: $textColor;

    .weekday-label{
        opacity: .8;
    }

    .month-label{
        border-bottom: 1px solid #cecece;
    }

    .day{

        &[active]{
            border-color: $todayBorderColor;
        }

        &.chosen{
            background: $highlight;
            color: #fff;
        }
        &.today{
            font-weight: bold;
        }
    }

    &:not([active]){
        .prev:hover, .next:hover{
            background-color: #f9f9f9;
            opacity: 0.7;
        }

        .day:not(.chosen):hover{
            background: #ccc;
        }
    }
}