@import 'mixins'
@import 'params'

$trackTopColor = #B0B0B0;
$trackBottomColor = #fff;

$thumbSize = 25px;
$trackSize = 3px;

x-slider {

    height: $thumbSize + 2;

    &:not([polyfill]) {
        .slider-thumb {
            display: none;
        }
        input {
            z-index: 1;
        }
    }
    &[polyfill] input {
        visibility: hidden;
    }

    .slider-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 3px;
        background: $highlight;
    }

    .slider-thumb,
    input[type='range']::-webkit-slider-thumb {
        background: $barFG;
        -webkit-appearance: none;
        border-radius: 13px;
        border: 1px solid lighten(#979797, 20%);
        box-shadow: 0px .5px 1px 0px rgba(0,0,0,0.20);
        cursor: pointer;
        display: block;
        height: $thumbSize;
        width: $thumbSize;
    }

    .slider-thumb,
    input[type='range']::-moz-range-thumb {
        background: $barFG;
        -moz-appearance: none;
        border-radius: 13px;
        border: 1px solid lighten(#979797, 20%);
        box-shadow: 0px .5px 1px 0px rgba(0,0,0,0.20);
        cursor: pointer;
        display: block;
        height: $thumbSize;
        width: $thumbSize;
    }

    .slider-track {
        background: #d8d8d8;
        border-radius: 3px;
        height: 2px;
        overflow: hidden;
    }

    input[type=range]::-moz-range-track {
        -moz-appearance: none;
        background: #d8d8d8;
        border: 0 !important;
        outline: 0;
        border-radius: 3px;
        height: 2px;
        box-shadow: 0 none;
    }

    input[type=range]::-moz-range-progress {
        background: $highlight;
        border-radius: 3px;
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        border: 0px solid transparent;
        color: transparent;
    }
}