@import 'mixins';
@import 'params';

$polyfillInputBorderWidth = 1px;

x-datepicker {
    border: 1px solid grey;

    & > .x-datepicker-polyfill-ui {
        box-shadow: 1px 1px 4px grey;
    }

    &[polyfill] {
        &:focus, &[focused] {
            box-shadow: 1px 1px 4px orange;
        }

        &[invalid] {
            & > .x-datepicker-polyfill-input {
                background-color: tomato;
            }
        }
    }
}
