@import 'mixins'
@import 'params'

x-appbar {
  background-color: $darkBG;
  color: $barFG;
  font-family: $COMPONENT_UI_FONT_FAMILY;
  font-size: 17px;
  height: $barHeight;
  line-height: $barHeight;
}

x-appbar > header {
  font-weight: 600;
}

x-appbar > * {
  color: $barFG;
  font-size: inherit;
}

x-appbar > header:after {
  padding-left: 6px;
  font-size: 60%;
}
