@import 'mixins'
@import 'params'

x-tabbar{
    background: $darkBG;
    color: $barFG;
    font-family: $fontFamilyPrimary;

    height: $barHeight;
    line-height: $barHeight;

    & > x-tabbar-tab{

        letter-spacing: normal;
        overflow: hidden;
        cursor: pointer;

        &:hover{
            background-color: lighten($darkBG, 10%);
            color: $COMPONENT_UI_TEXT_COLOR_HOVER;
        }

        &:active{
            component-ui-background-selected();
            color: $COMPONENT_UI_TEXT_COLOR_SELECTED;
        }

        // special overrides with x-iconbutton
        & > x-iconbutton:only-child{
            border: 0;
        }
    }
}
