@import 'mixins'
@import 'params'

x-appbar {
  background-color: $darkBG;
  color: $barFG;
  font-family: $fontFamilyPrimary;
  font-size: 17px;
  height: $barHeight;
  line-height: $barHeight;

  & > header {
    font-weight: 600;
  }

  & > * {
    color: $barFG;
    font-family: $fontFamilyPrimary;
    font-size: inherit;
    line-height: inherit;
    box-sizing(border-box);
  }

  & > button {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    min-width: $barHeight;
    background: transparent;
    &:hover {
      background-color: lighten($darkBG, 10%);
    }
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  & > header:after {
    padding-left: 6px;
    font-size: 60%;
  }

}
