@import '../../../build/mixins'
@import '../../../build/params'

x-togglegroup{
    box-sizing(border-box);
    * {
        box-sizing(border-box);
    }
    unhighlightable();
    flexbox();
    align-content(center);
    width: 100%;
    min-height: 0;
    white-space: nowrap;

    & > x-toggle{

        display: block; // display block requires for old flexbox syntax
        flex(1);

        padding: .25em 0;
        margin: 0;

        word-wrap: break-word;
        overflow: hidden;

        font: inherit;
        text-align: center;
    }
}