{% extends "component-demo-base.html" %}

{% set TAG_NAME="x-iconbutton" %}
{% set COMPONENT_NAME="iconbutton" %}

{% block demoContent %}
    <p><code class="prettyprint">&lt;x-iconbutton&gt;</code>s provide a simple way to declare buttons with icons by abstracting away the HTML layout and CSS styling that goes into properly anchoring and centering the contents.</p>
    <section class="demo-wrap">
        <header><h2>Basic usage</h2></header>
        <div class="two-up">
            <figure class="demo">
                <x-iconbutton src="{{REL_PATH}}site/img/firefox.png">
                    Put <code>any markup</code> here!
                </x-iconbutton>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <h3>Initializing markup</h3>
            <pre class="prettyprint html">&lt;x-iconbutton src=&quot;firefox.png&quot;&gt;<br/>  Put &lt;code&gt;any markup&lt;/code&gt; here!<br/>&lt;/x-iconbutton&gt;</pre>
        </div>
        <a href="#" class="top">Top</a>
    </section>
    <section id="icon-demo" class="demo-wrap">
        <header><h2>Editing the icon with <code>icon-anchor</code> and <code>src</code></h2></header>
        <div class="two-up">
            <figure class="demo">
                <x-iconbutton icon-anchor="left" src="{{REL_PATH}}site/img/firefox.png">
                    Lorem ipsum
                </x-iconbutton>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <div class="controls">
                <button class="btn btn-default" 
                        data-toggle-prop="iconAnchor" 
                        data-toggle-target="x-iconbutton" 
                        data-toggle-options='["left", "top", "right", "bottom"]'>
                    Edit <code>icon-anchor</code>
                </button>
                <button class="btn btn-default" 
                        data-toggle-prop="src" 
                        data-toggle-target="x-iconbutton" 
                        data-toggle-options='["{{REL_PATH}}site/img/firefox.png", "http://placekitten.com/50", "{{REL_PATH}}site/img/grounds_keeping_it_real_s1.gif"]'>
                    Edit <code>src</code>
                </button>
            </div>
            <h3>Initializing markup</h3>
            <pre class="prettyprint html"></pre>
        </div>
        <a href="#" class="top">Top</a>
    </section>
    <section id="dom-demo" class="demo-wrap">
        <header><h2>Editing the button with <code>.contentEl</code> and <code>.iconEl</code></h2></header>
        <p>When editing the actual contents of the iconbutton, in order to help preserve the underlying shadow DOM, we provide access to the content-label and icon DOM elements through <code>.contentEl</code> and <code>.iconEl</code>, respectively.</p>
        <p><b>Important:</b> Edit these elements instead of directly editing <code>.innerHTML</code> or <code>.textContent</code> of an <code class="prettyprint">&lt;x-iconbutton&gt;</code>.</p>
        <div class="two-up">
            <figure class="demo">
                <x-iconbutton id="dom-demo-button" src="{{REL_PATH}}site/img/firefox.png"><code>Content</code></x-iconbutton>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <div class="controls">
                <button id="iconel-edit-button" class="btn btn-default">Edit <code>.iconEl</code></button>
                <button id="contentel-edit-button" class="btn btn-default">Edit <code>.contentEl</code></button>
            </div>
            <h3>Initializing markup</h3>
            <pre class="prettyprint html"></pre>
            <h3>JavaScript</h3>
            <pre class="prettyprint javascript">// assume that randomColor and randomWord are already provided<br/>var iconElToggle = document.getElementById(&quot;iconel-edit-button&quot;);<br/>var contentElToggle = document.getElementById(&quot;contentel-edit-button&quot;);<br/>var iconButton = document.getElementById(&quot;dom-demo-button&quot;);<br/><br/>// &quot;edit .iconEl&quot; button<br/>iconElToggle.addEventListener(&quot;click&quot;, function(e){<br/>    iconButton.iconEl.style.backgroundColor = randomColor();<br/>});<br/><br/>// &quot;edit .contentEl&quot; button<br/>contentElToggle.addEventListener(&quot;click&quot;, function(e){<br/>    iconButton.contentEl.innerHTML = "&lt;code&gt;"+randomWord(7)+"&lt;/code&gt;";<br/>});</pre>
        </div>
        <a href="#" class="top">Top</a>
    </section>
    <section id="dom-demo" class="demo-wrap">
        <header><h2>Custom styling the button</h2></header></p>
        <ul>
            <li>Applying styles to <code class="prettyprint">x-iconbutton</code> applies styles to the entire button 
            </li>
            <li>Applying styles to <code class="prettyprint">x-iconbutton .x-iconbutton-icon</code> applies styles to the icon only
            </li>
            <li>Applying styles to <code class="prettyprint">x-iconbutton .x-iconbutton-content</code> applies styles to the content label only
            </li>
            <li>Applying styles to <code class="prettyprint">x-iconbutton[active]</code> applies styles that only appear when the button is clicked
            </li>
        </ul>
        <div class="two-up">
            <figure class="demo">
                <x-iconbutton id="custom-style-iconbutton" src="{{REL_PATH}}site/img/firefox.png">
                    How fancy!
                </x-iconbutton>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <h3>Initializing markup</h3>
            <pre class="prettyprint html">&lt;x-iconbutton id=&quot;custom-style-iconbutton&quot; src=&quot;firefox.png&quot;&gt;<br/>    How fancy!<br/>&lt;/x-iconbutton&gt;</pre>
            <h3>CSS styling</h3>
            <pre class="prettyprint css">#custom-style-iconbutton{<br/>    border: 1px solid grey;<br/>    border-radius: 4px;<br/>    box-shadow: 1px 1px grey;<br/>    padding: 5px;<br/><br/>    background-color: #93bce0;<br/>    background-image: none;<br/>}<br/><br/>#custom-style-iconbutton:hover{<br/>    background-color: #bbd5eb;<br/>    background-image: none;<br/>}<br/><br/>#custom-style-iconbutton[active]{<br/>    box-shadow: inset 1px 1px 4px grey;<br/>    background-color: #bbd5eb;<br/>    background-image: none;<br/>}<br/><br/>#custom-style-iconbutton &gt; .x-iconbutton-content{<br/>    font-family: font-family: &#x2018;Lucida Sans Unicode&#x2019;, &#x2018;Lucida Grande&#x2019;, sans-serif;<br/>    font-size: 2em;<br/>    color: white;<br/>    text-shadow: -1px -1px #ddd;<br/>}</pre>
        </div>
        <a href="#" class="top">Top</a>
    </section>
{% endblock %}