x-view{
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}

x-view > *{
    overflow: auto;
}

x-view > x-panel,
x-view > .view-section{
    flex: 1;
}


