@import "../../custommixins";

$oldCard: "[leaving]";
$newCard: "[selected]";

$beforeAnimation: "[before-animation]";
$afterAnimation: ":not(#{$beforeAnimation})";

$oldStartingSelector: "#{$oldCard}#{$beforeAnimation}";
$newStartingSelector: "#{$newCard}#{$beforeAnimation}";
$oldEndingSelector: "#{$oldCard}#{$afterAnimation}";
$newEndingSelector: "#{$newCard}#{$afterAnimation}";

$oldCardZIndex: 1;
$newCardZIndex: 2;

@mixin defaultCardOrder(){
    &#{$newCard}{
        z-index: $newCardZIndex;
    }
    
    &#{$oldCard}{
        z-index: $oldCardZIndex;
    }
}

@mixin swappedCardOrder(){
    &#{$newCard}{
        z-index: $oldCardZIndex;
    }
    
    &#{$oldCard}{
        z-index: $newCardZIndex;
    }
}

@mixin defaultTransform(){
    @include transformed(translate3d(0%,0%,1px));
}


x-deck{
    display: block; //can be overridden with anything non-inline
    position: relative;
    overflow: hidden;
    
    width: 200px; // override these defaults
    height: 150px; // override these defaults
    @include perspective(2000px);
    
    & > x-card{
        @include boxSizing(border-box);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: block;
        
        overflow: hidden;
        position: absolute;
        
        @include animated(transform, 0.5s, ease, 0s);
        @include backfaceVisibility(hidden);
        @include defaultTransform;
        
        height: 100%;
        width: 100%;
        
        left: 0px;
        right: 0px;
        
        z-index: 0;
        
        @include defaultCardOrder;
        
        &:not(#{$newCard}):not(#{$oldCard}){
            visibility: hidden; // note: do not use display: none here!
            opacity: 0;
        }
        
        /** card animation types go here **/
        
        // default animation: jump from one spot to another
        &[card-anim-type]{ 
            &#{$oldStartingSelector}, &#{$newStartingSelector},
            &#{$oldEndingSelector}, &#{$newEndingSelector}{
                @include defaultTransform;
            }
        }
        
        //////////////////////
        // rotation animations
        //////////////////////
        &[card-anim-type=flipX]{
            &:not([reverse]){
                // initial positions for animation
                &#{$newStartingSelector}{
                    @include transformed(rotateX(-180deg));
                }
                
                // target positions for animation
                &#{$oldEndingSelector}{
                    @include transformed(rotateX(180deg));
                }
            }
            &[reverse]{
                // initial positions for animation
                &#{$newStartingSelector}{
                    @include transformed(rotateX(180deg));
                }
                
                // target positions for animation
                &#{$oldEndingSelector}{
                    @include transformed(rotateX(-180deg));
                }
            }
        }
        
        &[card-anim-type=flipY]{
            &:not([reverse]){
                // initial positions for animation
                &#{$newStartingSelector}{
                    @include transformed(rotateY(180deg));
                }
                
                // target positions for animation
                &#{$oldEndingSelector}{
                    @include transformed(rotateY(-180deg));
                }
            }
            &[reverse]{
                // initial positions for animation
                &#{$newStartingSelector}{
                    @include transformed(rotateY(-180deg));
                }
                
                // target positions for animation
                &#{$oldEndingSelector}{
                    @include transformed(rotateY(180deg));
                }
            }
        }
        
        //////////////////////
        // scroll animations
        //////////////////////
        
        // new card scrolls from right to left 
        &[card-anim-type=scrollLeft]{ 
            &:not([reverse]){
                @extend %scrollLeftAnim;
            }
            
            // animation for reverse direction
            &[reverse]{
                @extend %scrollRightAnim;
            }
        }
        
        // new card scrolls from left to right 
        &[card-anim-type=scrollRight]{
            &:not([reverse]){
                @extend %scrollRightAnim;
            }
            
            // animation for reverse direction
            &[reverse]{
                @extend %scrollLeftAnim;
            }
        }
        
        // new card scrolls from bottom to top 
        &[card-anim-type=scrollUp]{
            &:not([reverse]){
                @extend %scrollUpAnim;
            }
            
            // animation for reverse direction
            &[reverse]{
                @extend %scrollDownAnim;
            }
        }
        
        // new card scrolls from top to bottom 
        &[card-anim-type=scrollDown]{
            &:not([reverse]){
                @extend %scrollDownAnim;
            }
            
            // animation for reverse direction
            &[reverse]{
                @extend %scrollUpAnim;
            }
        }
        
        //////////////////////
        // covering animations
        //////////////////////
        
        &[card-anim-type=coverLeft]{
            &:not([reverse]){
                @extend %coverLeftAnim;
            }
            
            &[reverse]{
                @extend %uncoverRightAnim;
            }
        }
        
        &[card-anim-type=coverRight]{
            &:not([reverse]){
                @extend %coverRightAnim;
            }
            
            &[reverse]{
                @extend %uncoverLeftAnim;
            }
        }
        
        &[card-anim-type=coverUp]{
            &:not([reverse]){
                @extend %coverUpAnim;
            }
            
            &[reverse]{
                @extend %uncoverDownAnim;
            }
        }
        
        &[card-anim-type=coverDown]{
            &:not([reverse]){
                @extend %coverDownAnim;
            }
            
            &[reverse]{
                @extend %uncoverUpAnim;
            }
        }
        
        //////////////////////
        // uncovering animations
        //////////////////////
        
        &[card-anim-type=uncoverLeft]{
            &:not([reverse]){
                @extend %uncoverLeftAnim;
            }
            
            &[reverse]{
                @extend %coverRightAnim;
            }
        }
        
        &[card-anim-type=uncoverRight]{
            &:not([reverse]){
                @extend %uncoverRightAnim;
            }
            
            &[reverse]{
                @extend %coverLeftAnim;
            }
        }
        
        &[card-anim-type=uncoverUp]{
            &:not([reverse]){
                @extend %uncoverUpAnim;
            }
            
            &[reverse]{
                @extend %coverDownAnim;
            }
        }
        
        &[card-anim-type=uncoverDown]{
            &:not([reverse]){
                @extend %uncoverDownAnim;
            }
            
            &[reverse]{
                @extend %coverUpAnim;
            }
        }
    }
}

////////////////////////////////////////////////////
// animation silent-classes for @extend'ing
/////////////////////////////////////////////////////

%scrollLeftAnim{
    // initial positions for animation
    &#{$newStartingSelector}{
        @include transformed(translateX(100%));
    }
    
    // target positions for animation
    &#{$oldEndingSelector}{
        @include transformed(translateX(-100%));
    }
}

%scrollRightAnim{
    // initial positions for animation
    &#{$newStartingSelector}{
        @include transformed(translateX(-100%));
    }

    // target positions for animation
    &#{$oldEndingSelector}{
        @include transformed(translateX(100%));
    }
}

%scrollUpAnim{
    // initial positions for animation
    &#{$newStartingSelector}{
        @include transformed(translateY(100%));
    }
    
    // target positions for animation
    &#{$oldEndingSelector}{
        @include transformed(translateY(-100%));
    }
}

%scrollDownAnim{
    // initial positions for animation
    &#{$newStartingSelector}{
        @include transformed(translateY(-100%));
    }

    // target positions for animation
    &#{$oldEndingSelector}{
        @include transformed(translateY(100%));
    }
}

%coverLeftAnim{
    &#{$newStartingSelector}{
        @include transformed(translateX(100%));
    }
}

%coverRightAnim{
    &#{$newStartingSelector}{
        @include transformed(translateX(-100%));
    }
}

%coverUpAnim{
    &#{$newStartingSelector}{
        @include transformed(translateY(100%));
    }
}

%coverDownAnim{
    &#{$newStartingSelector}{
        @include transformed(translateY(-100%));
    }
}

%uncoverLeftAnim{
    @include swappedCardOrder;  
    &#{$oldEndingSelector}{
        @include transformed(translateX(-100%));
    }
}

%uncoverRightAnim{
    @include swappedCardOrder;  
    &#{$oldEndingSelector}{
        @include transformed(translateX(100%));
    }
}

%uncoverUpAnim{
    @include swappedCardOrder;  
    &#{$oldEndingSelector}{
        @include transformed(translateY(-100%));
    }
}

%uncoverDownAnim{
    @include swappedCardOrder;  
    &#{$oldEndingSelector}{
        @include transformed(translateY(100%));
    }
}
