.demo > *:only-child{
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

*[dance-time]{
    background-image: url("../../site/img/grounds_keeping_it_real_s1.gif");
    background-color: #777;
    color: white;
    text-shadow: 1px 1px 4px grey;
}

#custom-style-cal{
    background-color: lightsteelblue;
}

#custom-style-cal .month-label{
    background-color: rgba(255,255,255,.3);
}

/* use height and line-height to 
* modify the height of weeks */
#custom-style-cal .week{
    height: 1.9em;
    line-height: 1.9em;
}

#custom-style-cal .day{
    font-size: .85em;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: inset 1px 1px 4px grey;
}

/* use :not selectors to let default colors 
 * fall through in those cases */
#custom-style-cal .day:not(:hover):not(.chosen){
    background-color: #fff;
}

#custom-style-cal .day.today{
    border-color: limegreen;
}

#scheduler-demo > *:not(x-calendar){
    margin: 0 auto;
    display: block;
}

/* give the current day a sunken look */
#scheduler-demo > x-calendar .scheduler-current{
    box-shadow: inset 1px 1px 4px grey;
    background-color: rgba(65,105,225,0.5);
}

/* days with data have a border */
#scheduler-demo > x-calendar [scheduler-has-info]{
    border-color: royalblue;
    border-style: dashed;
}

/* days with data also have an icon */
#scheduler-demo > x-calendar [scheduler-has-info]:after{
    content: "";
    position: absolute;
    background-color: royalblue;
    right: 0%;
    bottom: 0%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}