{% extends "component-demo-base.html" %}

{% set TAG_NAME="x-togglegroup" %}
{% set COMPONENT_NAME="togglegroup" %}

{% block demoContent %}
    <p><code class="prettyprint">&lt;x-togglegroup&gt;</code> are very simple components that simply act as a wrapper for <code class="prettyprint">&lt;x-toggle&gt;</code> elements by displaying them as a menu of toggle buttons.</p>
    <p>See the <code class="prettyprint">&lt;x-toggle&gt;</code> documentation for further details on how to use them.</p>
    <section class="demo-wrap">
        <header><h2>Basic usage</h2></header>
        <p>Each <code class="prettyprint">&lt;x-toggle&gt;</code> in the <code class="prettyprint">&lt;x-togglegroup&gt;</code> acts as if it receives the <code>name</code> and <code>group</code> attributes of the <code class="prettyprint">&lt;x-togglegroup&gt;</code>, if they are present.</p>
        <div class="two-up">
            <figure class="demo">
                <x-togglegroup name="searchtype" group="groupname">
                    <x-toggle label="Title"></x-toggle>
                    <x-toggle label="Author"></x-toggle>
                    <x-toggle label="Date"></x-toggle>
                </x-togglegroup>
            </figure>
        </div>
        <div class="markup-wrap two-up">
            <h3>Markup</h3>
            <pre class="prettyprint html">&lt;x-togglegroup name=&quot;searchtype&quot; group=&quot;groupname&quot;&gt;<br/>    &lt;x-toggle label=&quot;Title&quot;&gt;&lt;/x-toggle&gt;<br/>    &lt;x-toggle label=&quot;Author&quot;&gt;&lt;/x-toggle&gt;<br/>    &lt;x-toggle label=&quot;Date&quot;&gt;&lt;/x-toggle&gt;<br/>&lt;/x-togglegroup&gt;</pre>
        </div>
        <a href="#" class="top">Top</a>
    </section>
{% endblock %}