@import "../../custommixins";

x-calendar {
    position: relative;
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;
    border: 2px solid #888;
    display: inline-block;
    margin: 0;
    padding: 0;

    @include unhighlightable;
    @include boxSizing(border-box);

    .calendar{
        position: relative;
        background: #fff;
        color: #fff;
        overflow: hidden;
        display: inline-block;
    }

    .month{
        display: inline-block;
        padding: 2px;
        margin: 0;
        vertical-align: top;
        white-space: nowrap;
    }

    .week{
        margin-top: 1px;
        overflow: hidden;
    }

    .label, .day, .prev, .next{
        background: #fff;
        color: #444;
        height: 2em;
        line-height: 2em;
        text-decoration: none;
        width: 2em;
    }

    .label{
        width: 100%;
    }

    .day{
        @include rounded;
        color: #444;
        display: inline-block;
        margin-left: 1px;
        white-space: nowrap;
        border: 1px solid transparent;

        &:first-child{
            margin: 0;
        }

        &.today{
            border: 1px solid limegreen;
            font-weight: bold;
        }

        &.chosen{
            background: #444;
            color: #fff;
        }

        &.badmonth{
            background: #fff;
            color: #aaa;

            &.chosen{
                background: #ddd;
            }

            &.today{
                border-color: lighten(limegreen, 25%);
            }
        }

        &[active]{
            border-color: orange;
        }
    }

    .controls{
        display: none;
    }

    &[controls] .controls{
        display: block;
    }

    .prev, .next{
        color: #444;
        position: absolute;
        top: 2px;
    }

    .prev{
        left: 2px;
    }

    .next{
        right: 2px;
    }

    &:not([active]){
        .day:hover, .prev:hover, .next:hover {
            cursor: pointer;
        }

        .prev:hover, .next:hover{
            background: #efefef;
        }

        .day:not(.chosen){
            &:hover{
                background: #999;
                color: #fff;
            }

            &.badmonth:hover{
                background: #efefef;
            }
        }
    }
}