x-calendar {
  position: relative;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  border: 2px solid #888;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent; }

x-calendar .calendar {
  position: relative;
  background: #fff;
  color: #fff;
  overflow: hidden;
  display: inline-block; }

x-calendar .month {
  display: inline-block;
  padding: 2px;
  margin: 0;
  vertical-align: top;
  white-space: nowrap; }

x-calendar .week {
  margin-top: 1px;
  overflow: hidden; }

x-calendar .label,
x-calendar .day,
x-calendar .prev,
x-calendar .next {
  background: #fff;
  color: #444;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  width: 2em; }

x-calendar .day:hover,
x-calendar .prev:hover,
x-calendar .next:hover {
  background: #ddd;
  cursor: pointer; }

x-calendar .label {
  width: 100%; }

x-calendar .day {
  color: #444;
  display: inline-block;
  margin-left: 1px;
  white-space: nowrap; }

x-calendar .day:first-child {
  margin: 0; }

x-calendar .day.today {
  border: 1px solid tomato; }

x-calendar .day.sel,
x-calendar .day:hover {
  background: #444;
  color: #fff; }

x-calendar .day:not(.sel):hover {
  background: #777; }

x-calendar .day.badmonth {
  background: #fff;
  color: #aaa; }

x-calendar .day.badmonth.sel {
  background: #ddd; }

x-calendar .day.badmonth.today {
  border-color: #ffcfc6; }

x-calendar .day.badmonth:not(.sel):hover {
  background: #efefef; }

x-calendar > .controls {
  display: none; }

x-calendar[controls] > .controls {
  display: block; }

x-calendar .prev,
x-calendar .next {
  color: #444;
  position: absolute;
  top: 2px; }

x-calendar .prev {
  left: 2px; }

x-calendar .next {
  right: 2px; }
