x-calendar {
  position: relative;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  border: 2px solid #888;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  x-calendar .calendar {
    position: relative;
    color: #fff;
    overflow: hidden;
    display: inline-block; }
  x-calendar .month {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    white-space: nowrap; }
  x-calendar .week {
    margin: 1px 2px;
    overflow: visible; }
  x-calendar .label, x-calendar .day, x-calendar .prev, x-calendar .next {
    color: #444;
    height: 2em;
    line-height: 2em;
    text-decoration: none;
    width: 2em; }
  x-calendar .label {
    width: 100%;
    border-bottom: 1px dashed grey; }
  x-calendar .day {
    position: relative;
    border-radius: 4px;
    color: #444;
    display: inline-block;
    white-space: nowrap;
    border: 1px solid transparent; }
    x-calendar .day:not(:first-child) {
      margin-left: 1px; }
    x-calendar .day[active] {
      border-color: orange; }
    x-calendar .day.today {
      border-color: tomato;
      font-weight: bold;
      font-style: italic; }
    x-calendar .day.chosen {
      background: #444;
      color: #fff; }
  x-calendar .today {
    border-color: tomato;
    font-weight: bold;
    font-style: italic; }
  x-calendar .chosen {
    background: #444;
    color: #fff; }
  x-calendar .badmonth {
    color: #aaa; }
    x-calendar .badmonth.chosen {
      background: #ccc; }
    x-calendar .badmonth.today {
      border-color: #ffd280; }
  x-calendar .controls {
    display: none; }
  x-calendar[controls] .controls {
    display: block; }
  x-calendar .prev, x-calendar .next {
    color: #444;
    position: absolute;
    top: 0px; }
  x-calendar .prev {
    left: 0px; }
  x-calendar .next {
    right: 0px; }
  x-calendar:not([active]) .day:hover, x-calendar:not([active]) .prev:hover, x-calendar:not([active]) .next:hover {
    cursor: pointer; }
  x-calendar:not([active]) .prev:hover, x-calendar:not([active]) .next:hover {
    background-color: #efefef;
    opacity: 0.7; }
  x-calendar:not([active]) .day:not(.chosen):not(.badmonth):hover {
    background: #999;
    color: #fff; }
  x-calendar:not([active]) .day:not(.chosen).badmonth:hover {
    background: #efefef; }
