@import "../../custommixins";
@import "../../component-ui-defaults";

$todayBorder: orange;

x-calendar {
    @include unhighlightable;
    @include boxSizing(border-box);
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;

    border: 2px solid #888;

    font-size: 1em;
    font-family: $COMPONENT_UI_FONT_FAMILY;
    text-align: center;

    overflow: hidden;
    background-color: #fff;

    .calendar{
        position: relative;
        display: inline-block;
        color: #fff;
        overflow: hidden;
    }

    .month{
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: top;
        white-space: nowrap;
    }

    .week{
        margin: 1px 2px;
        overflow: visible;
    }

    .day, .prev, .next{
        width: 2em;
    }

    .label, .day, .prev, .next{
        color: #444;
        min-height: 2em;
        line-height: 2em;
        text-decoration: none;
    }

    .label{
        width: 100%;
        border-bottom: 1px dashed grey;
    }

    .day{
        @include rounded;
        position: relative;
        display: inline-block;
        white-space: nowrap;
        color: #444;
        border: 1px solid transparent;

        &:not(:first-child){
            margin-left: 1px;
        }

        &[active]{
            border-color: $todayBorder;
        }

        &.chosen{
            background: #444;
            color: #fff;
        }
        &.today{
            border-color: tomato;
            font-weight: bold;
        }
    }

    .badmonth{
        color: #aaa;

        &.chosen{
            background: #ccc;
        }

        &.today{
            border-color: lighten($todayBorder, 25%);
        }
    }

    &:not([controls]) .controls{
        display: none !important;
    }

    &[controls] .controls{
        display: block;
    }

    .prev, .next{
        position: absolute;
        top: 0px;
        
        color: #444;
    }

    .prev{
        left: 0px;
    }

    .next{
        right: 0px;
    }

    &:not([active]){
        .day:hover, .prev:hover, .next:hover {
            cursor: pointer;
        }

        .prev:hover, .next:hover{
            background-color: #efefef;
            opacity: 0.7;
        }

        .day:not(.chosen){
            &:not(.badmonth):hover{
                background: #aaa;
                color: #fff;
            }

            &.badmonth:hover{
                background: #efefef;
            }
        }
    }
}