@import '../../../build/mixins'
@import '../../../build/params'

$defaultSpacing = .1em;

x-iconbutton{
    box-sizing(border-box);
    line-height: normal;
    display: inline-block;
    margin: 0;
    padding: $defaultSpacing $defaultSpacing*1.75;

    text-align: center;

    cursor: pointer;

    /* content is wrapped so that it is always centered */
    & > .x-iconbutton-content-wrap{
      display: inline-block !important;
      vertical-align: middle !important;
      max-width: 100%;
      max-height: 100%;
    }

    /* spacer div used to ensure centering */
    & > .x-iconbutton-ghost{
      display: inline-block !important;
      vertical-align: middle !important;
      height: 100% !important;
      width: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
    }

    & .x-iconbutton-icon, & .x-iconbutton-content{
       display: inline-block;
       vertical-align: middle;
       margin: 0;
       padding: 0;
       max-height: 100%;
       max-width: 100%;
    }

    & .x-iconbutton-content{
    }

    &[icon-anchor=top], &[icon-anchor=bottom]{
      & .x-iconbutton-icon, & .x-iconbutton-content{
          margin: 0 auto;
          display: block;
      }
    }

    &[icon-anchor]{
      white-space: nowrap;
    }

    &[icon-anchor=left], &:not([icon-anchor]){
        & .x-iconbutton-icon{
          margin-right: $defaultSpacing;
        }
    }

    &[icon-anchor=right]{
        & .x-iconbutton-icon{
          margin-left: $defaultSpacing;
        }
    }
}





