<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600">
    <link rel="stylesheet" type="text/css" href="../../../dist/brick.css"/>
    <link rel="stylesheet" type="text/css" href="../../../site/css/prettify.css"/>
    <link rel="stylesheet" type="text/css" href="../../../site/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="testpage.css"/>
</head>
<body>
    <article>
        <header><h1>x-deck demo</h1></header>
        <figure class="demo">
            <x-deck id="demo-box">
                <x-card>0</x-card>
                <x-card>1</x-card>
                <x-card>2</x-card>
                <x-card>3</x-card>
                <x-card>4</x-card>
            </x-deck>
        </figure>

        <div id="demo-controls">
            <button onclick="getDemoBox().shufflePrev('reverse')"><-- Shuffle Prev</button>
            <button onclick="getDemoBox().shuffleNext('forward')">Shuffle Next --></button>
            <br/>
            <button onclick="nextType()">change transition type</button>
            <button onclick="addCard()">Add card</button>
            <button onclick="addCard(true)">Add card with transition-override</button>
            <button onclick="removeCard(0)">Remove first card</button>
            <button onclick="removeCard()">Remove last card</button>
            <h3>Markup for recreating this deck:</h3>
            <pre id="markup-box" class="prettyprint codebox"></pre>
            <h3>(some) Properties:</h3>
            <div id="property-wrap" class="codebox">
                <code id="selected-index-label" class="prettyprint"></code>
                <code id="transition-type-label" class="prettyprint"></code>
                <code id="count-label" class="prettyprint"></code>
            </div>
            
            <br/>
            <button onclick="getDemoBox().shuffleTo(2)">shuffleTo 2 (default)</button>
            <button onclick="getDemoBox().shuffleTo(2, 'auto')">shuffleTo 2 (auto)</button>
            <button onclick="getDemoBox().shuffleTo(2, 'forward')">shuffleTo 2 (always forwards)</button>
            <button onclick="getDemoBox().shuffleTo(2, 'reverse')">shuffleTo 2 (always reverse)</button>
            <button onclick="triggerShow(2)">Trigger show event on 2</button>
            <button onclick="callShow(2)">Call .show() on 2</button>
            <button onclick="editSelectedIndex(2)">Set selected index to 2</button>
            <br/>
            <button onclick="getDemoBox().historyBack()"><-- Back in History</button>
            <span id="history-status"></span>
            <button onclick="getDemoBox().historyForward()">Forward in History --></button>
        </div>
    </article>
    
    <script type="text/javascript" src="../../../dist/brick.js"></script>
    <script type="text/javascript" src="../../../site/js/prettify.js"></script>
    <script>
        function cleanHtmlSource(html, ignoreAttrs){
            // remove any attributes given in parameter, but only if they are
            // actually in a tag
            if(ignoreAttrs && ignoreAttrs.length){
                // no global flag, or we will over-skip through string
                var attrIgnoreRegex = new RegExp("(<[^>]*?\\s)(("+
                                                 ignoreAttrs.join("|")+
                                                 ")=\".*?\"\\s?)([^<]*?>)");
                var match = attrIgnoreRegex.exec(html);
                while(match){
                    html = html.substr(0, match.index) + match[1] + match[4] + 
                           html.substr(match.index + match[0].length);
                    match = attrIgnoreRegex.exec(html);
                }
                html = html.replace(/\s*>/g, ">");
            }
            
            // find the least amount of tabbing and dedent each line by that much
            var tabRegex = /\n(\s*?)(\S|\n)/g;
            var spacing = tabRegex.exec(html);
            if(spacing){
                var shortest = spacing[1].length;
                while(spacing){
                    if(spacing[1].length < shortest){
                        shortest = spacing[1].length;
                    }
                    spacing = tabRegex.exec(html);
                }
                if(shortest > 0){
                    var dedentRegex = new RegExp("\\n\\s{"+shortest+"}", "g");
                    html = html.replace(dedentRegex, "\n");
                }
            }
            // trim spacing from start/end of markup
            html = html.replace(/^\s*\n/, "");
            html = html.replace(/\n\s*$/, "");
            return html;
        }

        function updateCodeBox(isInit){
            var demoBox = getDemoBox();
            var sourceBox = document.getElementById("markup-box");

            sourceBox.innerHTML = "";
            var ignoreAttrs = ["style","card-anim-type","before-animation",
                                "reverse","selected","leaving"];
            // let markup reflect fact that selected-index isn't required for
            // initialization
            if(isInit){
                ignoreAttrs.push("selected-index");
            }

            var newHtml = cleanHtmlSource(demoBox.outerHTML, ignoreAttrs);
            // prettify html spacing for dynamically added elements
            newHtml = newHtml.replace(/>(\s*)<x-card/g, ">\n    <x-card");
            newHtml = newHtml.replace(/>(\s*)<\/x-deck/g, ">\n</x-deck");

            sourceBox.textContent = newHtml;
            xtag.removeClass(sourceBox, "prettyprinted");
        }

        function randomColor(alpha){
            var _randomVal = function(){
                return Math.floor(Math.random() * 256);
            }
            var type = (alpha) ? "rgba" : "rgb";
            var alphaStr = (alpha) ? ","+alpha : "";
            
            return type+"("+_randomVal()+","+_randomVal()+","+_randomVal()+alphaStr+")";
        }
        
        function getDemoBox(){
            return document.getElementById("demo-box");
        }

        var transitionTypes = [
            "scrollLeft", "scrollUp", "scrollRight", "scrollDown",
            "flipX", "flipY", 
            "coverLeft", "coverUp", "coverRight", "coverDown",
            "uncoverLeft", "uncoverUp", "uncoverRight", "uncoverDown",
            "none"
        ];
        
        document.addEventListener('DOMComponentsLoaded', function(){
            xtag.query(document, "x-card").forEach(function(card){
                card.style.backgroundColor = randomColor();
            });
            
            var demoBox = getDemoBox();
            
            demoBox.addEventListener('shufflestart', function(e){
                console.log("shufflestart", e);
                updateStatuses();
            });
            
            demoBox.addEventListener('shuffleend', function(e){
                console.log("shuffleend", e);
                updateStatuses();
            });
            
            xtag.query(document, "button").forEach(function(button){
                button.addEventListener("click", function(){
                    updateStatuses();
                });
            });
            updateStatuses(true);
        }, false);
        
        function editSelectedIndex(index){
            var demoBox = getDemoBox();
            demoBox.selectedIndex = index;
            updateStatuses();
        }
    
        function triggerShow(index){
            var demoBox = getDemoBox();
            var card = demoBox.getCardAt(index);
            xtag.fireEvent(card, "show");
            updateStatuses();
        }
    
        function callShow(index){
            var demoBox = getDemoBox();
            var card = demoBox.getCardAt(index);
            card.show();
        }
        
        function updateStatuses(isInit){
            updateCountBox();
            updateHistoryControls();
            updateSelectedStatus();
            updateTypeStatus();
            updateCodeBox(isInit);
            prettyPrint();
        }

        function updateTypeStatus(){
            var demoBox = getDemoBox();
            var typeStatus = document.getElementById("transition-type-label");
            typeStatus.textContent = '.transitionType -> "'+demoBox.transitionType+'"';
            xtag.removeClass(typeStatus, "prettyprinted");
        }
        
        function updateSelectedStatus(){
            var demoBox = getDemoBox();
            var statusBox = document.getElementById("selected-index-label");
            statusBox.textContent = ".selectedIndex -> " + demoBox.selectedIndex;
            xtag.removeClass(statusBox, "prettyprinted");
        }

        function updateCountBox(){
            var demoBox = getDemoBox();
            document.getElementById("count-label").textContent = ".numCards -> "+demoBox.getAllCards().length;
        }
        
        function updateHistoryControls(){
            var demoBox = getDemoBox();
            var statusBox = document.getElementById("history-status");
            var backButton = statusBox.previousElementSibling;
            var nextButton = statusBox.nextElementSibling;
            
            var size = demoBox.currHistorySize;
            var currIndex = demoBox.currHistoryIndex;
            
            statusBox.textContent = "(index " + currIndex+") " + 
                                    "State #" + (currIndex+1) +
                                    " out of " + size +
                                    " (max " + demoBox.historyCap + ")";
            
            (currIndex > 0) ? backButton.removeAttribute("disabled") : 
                              backButton.setAttribute("disabled", true);
                              
            (currIndex < size-1) ? nextButton.removeAttribute("disabled") : 
                                   nextButton.setAttribute("disabled", true);      
        }
        
        // changes the transition type of deck
        function nextType(){
            var demoBox = getDemoBox();
            var oldType = demoBox.transitionType;
            
            var types = transitionTypes;
                         
            var typeIndex = types.indexOf(oldType);

            if(typeIndex < 0){
                throw "invalid type " + oldType;
                return;
            }
            
            var newType = types[(typeIndex+1) % types.length];
            
            //demoBox.transitionType = newType;
            demoBox.setAttribute("transition-type", newType);
            
            demoBox.shuffleNext("forward");
        }
        
        function addCard(addOverride){
            var demoBox = getDemoBox();
            var numCards = demoBox.getAllCards().length;
            
            var newCard = document.createElement("x-card");
            newCard.style.backgroundColor = randomColor();
            
            newCard.textContent = String(numCards);
            
            if(addOverride){
                var overrideType = (transitionTypes.length) ?
                                    transitionTypes[
                                        Math.floor(Math.random() * 
                                                   transitionTypes.length)
                                    ] : "none";
                newCard.transitionOverride = overrideType;
            }
            
            demoBox.appendChild(newCard);
            
            var allCards = demoBox.getAllCards();
            console.log("Added card labeled", allCards.indexOf(newCard));
            
            demoBox.shuffleTo(allCards.indexOf(newCard));
        }
        
        function removeCard(index){
            var demoBox = getDemoBox();
            var allCards = demoBox.getAllCards();
            if(index !== undefined && index < allCards.length){
                var removeCard = demoBox.getCardAt(index);
                demoBox.removeChild(removeCard);
            }
            else if (allCards.length > 0){
                var lastCard = allCards[allCards.length - 1];
                
                demoBox.removeChild(lastCard);
            }
        }
    </script>
</body>
</html>