x-deck, x-deck > x-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

x-deck > x-card[selected][_before-animation][card-anim-type=scrollLeft]:not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=scrollRight][reverse], x-deck > x-card[leaving][card-anim-type=scrollLeft][reverse]:not([_before-animation]), x-deck > x-card[leaving][card-anim-type=scrollRight]:not([_before-animation]):not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=coverLeft]:not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=uncoverRight][reverse], x-deck > x-card[leaving][card-anim-type=coverLeft][reverse]:not([_before-animation]), x-deck > x-card[leaving][card-anim-type=uncoverRight]:not([_before-animation]):not([reverse]) {
  transform: translateX(100%);
  -ms-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%); }

x-deck > x-card[leaving][card-anim-type=scrollLeft]:not([_before-animation]):not([reverse]), x-deck > x-card[leaving][card-anim-type=scrollRight][reverse]:not([_before-animation]), x-deck > x-card[selected][_before-animation][card-anim-type=scrollLeft][reverse], x-deck > x-card[selected][_before-animation][card-anim-type=scrollRight]:not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=coverRight]:not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=uncoverLeft][reverse], x-deck > x-card[leaving][card-anim-type=coverRight][reverse]:not([_before-animation]), x-deck > x-card[leaving][card-anim-type=uncoverLeft]:not([_before-animation]):not([reverse]) {
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%); }

x-deck > x-card[leaving][card-anim-type=scrollUp]:not([_before-animation]):not([reverse]), x-deck > x-card[leaving][card-anim-type=scrollDown][reverse]:not([_before-animation]), x-deck > x-card[selected][_before-animation][card-anim-type=scrollUp][reverse], x-deck > x-card[selected][_before-animation][card-anim-type=scrollDown]:not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=coverDown]:not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=uncoverUp][reverse], x-deck > x-card[leaving][card-anim-type=coverDown][reverse]:not([_before-animation]), x-deck > x-card[leaving][card-anim-type=uncoverUp]:not([_before-animation]):not([reverse]) {
  transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%); }

x-deck > x-card[selected][_before-animation][card-anim-type=scrollUp]:not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=scrollDown][reverse], x-deck > x-card[leaving][card-anim-type=scrollUp][reverse]:not([_before-animation]), x-deck > x-card[leaving][card-anim-type=scrollDown]:not([_before-animation]):not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=coverUp]:not([reverse]), x-deck > x-card[selected][_before-animation][card-anim-type=uncoverDown][reverse], x-deck > x-card[leaving][card-anim-type=coverUp][reverse]:not([_before-animation]), x-deck > x-card[leaving][card-anim-type=uncoverDown]:not([_before-animation]):not([reverse]) {
  transform: translateY(100%);
  -ms-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -o-transform: translateY(100%); }

x-deck > x-card[card-anim-type=flipX][selected][_before-animation]:not([reverse]), x-deck > x-card[card-anim-type=flipX][reverse][leaving]:not([_before-animation]) {
  transform: perspective(800px) rotateX(180deg);
  -ms-transform: perspective(800px) rotateX(180deg);
  -moz-transform: perspective(800px) rotateX(180deg);
  -webkit-transform: perspective(800px) rotateX(180deg);
  -o-transform: perspective(800px) rotateX(180deg); }

x-deck > x-card[card-anim-type=flipX][leaving]:not([reverse]):not([_before-animation]), x-deck > x-card[card-anim-type=flipX][reverse][selected][_before-animation] {
  transform: perspective(800px) rotateX(-180deg);
  -ms-transform: perspective(800px) rotateX(-180deg);
  -moz-transform: perspective(800px) rotateX(-180deg);
  -webkit-transform: perspective(800px) rotateX(-180deg);
  -o-transform: perspective(800px) rotateX(-180deg); }

x-deck > x-card[card-anim-type=flipY][selected][_before-animation]:not([reverse]), x-deck > x-card[card-anim-type=flipY][reverse][leaving]:not([_before-animation]) {
  transform: perspective(800px) rotateY(180deg);
  -ms-transform: perspective(800px) rotateY(180deg);
  -moz-transform: perspective(800px) rotateY(180deg);
  -webkit-transform: perspective(800px) rotateY(180deg);
  -o-transform: perspective(800px) rotateY(180deg); }

x-deck > x-card[card-anim-type=flipY][leaving]:not([reverse]):not([_before-animation]), x-deck > x-card[card-anim-type=flipY][reverse][selected][_before-animation] {
  transform: perspective(800px) rotateY(-180deg);
  -ms-transform: perspective(800px) rotateY(-180deg);
  -moz-transform: perspective(800px) rotateY(-180deg);
  -webkit-transform: perspective(800px) rotateY(-180deg);
  -o-transform: perspective(800px) rotateY(-180deg); }

x-deck > x-card[selected] {
  z-index: 2; }
x-deck > x-card[leaving] {
  z-index: 1; }

x-deck > x-card[selected][card-anim-type=coverRight][reverse], x-deck > x-card[selected][card-anim-type=uncoverLeft]:not([reverse]), x-deck > x-card[selected][card-anim-type=coverLeft][reverse], x-deck > x-card[selected][card-anim-type=uncoverRight]:not([reverse]), x-deck > x-card[selected][card-anim-type=coverDown][reverse], x-deck > x-card[selected][card-anim-type=uncoverUp]:not([reverse]), x-deck > x-card[selected][card-anim-type=coverUp][reverse], x-deck > x-card[selected][card-anim-type=uncoverDown]:not([reverse]) {
  z-index: 1; }
x-deck > x-card[leaving][card-anim-type=coverRight][reverse], x-deck > x-card[leaving][card-anim-type=uncoverLeft]:not([reverse]), x-deck > x-card[leaving][card-anim-type=coverLeft][reverse], x-deck > x-card[leaving][card-anim-type=uncoverRight]:not([reverse]), x-deck > x-card[leaving][card-anim-type=coverDown][reverse], x-deck > x-card[leaving][card-anim-type=uncoverUp]:not([reverse]), x-deck > x-card[leaving][card-anim-type=coverUp][reverse], x-deck > x-card[leaving][card-anim-type=uncoverDown]:not([reverse]) {
  z-index: 2; }

x-deck {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  x-deck > x-card {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    overflow: hidden;
    position: absolute !important;
    transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    z-index: 0;
    /** card animation types go here **/ }
    x-deck > x-card:not([selected]):not([leaving]) {
      visibility: hidden;
      opacity: 0; }
    x-deck > x-card[card-anim-type=flipY]:not([reverse]) {
      /* initial positions for animation */ }
